<rewrite>
<rules>
<rule name="phpshe" stopProcessing="true">
<match url="^(?!/.*\.php)(?!/data)(?!/hook)(?!/include)(?!/template)(?!/module)(.*)$" />
<conditions logicalGrouping="MatchAll">
<add input="{HTTP_HOST}" pattern="^(?!/.*\.php)(?!/data)(?!/hook)(?!/include)(?!/template)(?!/module)(.*)$" />
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
</conditions>
<action type="Rewrite" url="index.php/{R:1}" />
</rule>
</rules>
</rewrite>