<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<div class="width960" style="background:#fff;">
		<div class="danye_left">
			<div class="danye_help">
				<div class="help_img"></div>
				<div class="danye_list">
					<h3>用户指南</h3>
					<ul>
						<li><a href="{pe_url('page-1')}" title="{$cache_page[1]['page_name']}">{$cache_page[1]['page_name']}</a></li>
						<li><a href="{pe_url('page-2')}" title="{$cache_page[2]['page_name']}">{$cache_page[2]['page_name']}</a></li>
						<li><a href="{pe_url('page-3')}" title="{$cache_page[3]['page_name']}">{$cache_page[3]['page_name']}</a></li>
					</ul>
					<h3>配送方式</h3>
					<ul>
						<li><a href="{pe_url('page-4')}" title="{$cache_page[4]['page_name']}">{$cache_page[4]['page_name']}</a></li>
						<li><a href="{pe_url('page-5')}" title="{$cache_page[5]['page_name']}">{$cache_page[5]['page_name']}</a></li>
						<li><a href="{pe_url('page-6')}" title="{$cache_page[6]['page_name']}">{$cache_page[6]['page_name']}</a></li>
					</ul>
					<h3>售后服务</h3>
					<ul>
						<li><a href="{pe_url('page-7')}" title="{$cache_page[7]['page_name']}">{$cache_page[7]['page_name']}</a></li>
						<li><a href="{pe_url('page-8')}" title="{$cache_page[8]['page_name']}">{$cache_page[8]['page_name']}</a></li>
						<li><a href="{pe_url('page-9')}" title="{$cache_page[9]['page_name']}">{$cache_page[9]['page_name']}</a></li>
					</ul>
					<h3>关于我们</h3>
					<ul>
						<li><a href="{pe_url('page-10')}" title="{$cache_page[10]['page_name']}">{$cache_page[10]['page_name']}</a></li>
						<li><a href="{pe_url('page-11')}" title="{$cache_page[11]['page_name']}">{$cache_page[11]['page_name']}</a></li>
						<li><a href="{pe_url('page-12')}" title="{$cache_page[12]['page_name']}">{$cache_page[12]['page_name']}</a></li>
					</ul>
				</div>
			</div>
			<div class="danye_help mat8">
				<div class="guanyu_img"></div>
				<div class="danye_list">
					<ul>
						<!--{foreach((array)$cache_category_articlearr[0] as $v):}-->
						<li><a href="{pe_url('article-list-'.$v['category_id'])}" title="{$v['category_name']}">{$v['category_name']}</a></li>
						<!--{endforeach;}-->
					</ul>
				</div>
			</div>
		</div>
		<div class="danye_right">
			<ul class="wenzhang_list">
			<!--{foreach($info_list as $v):}-->
			<li><a href="{pe_url('article-'.$v['article_id'])}" title="{$v['article_name']}" target="_blank">{$v['article_name']}</a><span class="fl c888">(浏览量：{$v['article_clicknum']})</span> <span class="fr">{pe_date($v['article_atime'])}</span><div class="clear"></div></li>
			<!--{endforeach;}-->
			</ul>
			<h3 class="cred">{$info['page_name']}</h3>
			<div class="danye_main">{$info['page_text']}</div>
		</div>
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->