<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/all.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="pagetop">
	<div class="width980">
		<div class="quick_menu">
			<span class="mar20">我的购物车 <span class="cred">0</span> 件</span> <span class="mar20"><a href="#">登录</a>/<a href="#">注册</a></span>
		</div>
		<div class="clear"></div>
		<div class="header">
			<div class="fl"><img src="images/logo.jpg" /></div>
			<div class="fr mat25"><img src="images/tel.gif" /></div>
		</div>
		<div class="clear"></div>
		<div class="nav">
			<div class="nav_l"></div>
			<div class="nav_m">
				<div class="menu fl">
					<ul>
						<li class="sel"><a href="#">首页</a></li>
						<li><a href="#">畅销榜单</a></li>
						<li><a href="#">限量抢购</a></li>
						<li><a href="#">精品分类</a></li>
						<li><a href="#">我的订单</a></li>
					</ul>
				</div>
				<div class="sear fr"><input type="text" class="fl" /><a href="#"><img class="fl" src="images/sear.gif" /></a></div>
			</div>
			<div class="nav_r"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="content">
	<div class="width980" style="background:#fff;">
		<div class="now">首页 > <span class="cred">护肤产品</span></div>
		<div class="remai fl hytt" style="margin-top:0">
			<h3>会员中心</h3>
			<div class="huiyuan">
				<div class="guanli"><a href="#">交易管理</a></div>
				<ul>
					<li><a href="#">我的订单</a></li>
					<li><a href="#">我的订单</a></li>
					<li><a href="#">我的订单</a></li>
				</ul>
				<div class="guanli"><a href="#">交易管理</a></div>
				<ul>
					<li><a href="#">我的订单</a></li>
					<li><a href="#">我的订单</a></li>
				</ul>
				<div class="guanli"><a href="#">交易管理</a></div>
				<ul>
					<li><a href="#">我的订单</a></li>
				</ul>
			</div>
		</div>
		<div class="fr huiyuan_main">
			<div class="hy_add">
				<h3>送货地址</h3>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
								<td width="14%" align="right"><span class="cred1">*</span> 收货人姓名：</td>
								<td width="86%"><input type="text" class="input1" /></td>
						</tr>
						<tr>
								<td align="right"><span class="cred1">*</span> 配送地址：</td>
								<td><input type="text" class="input1 input2" /></td>
						</tr>
						<tr>
								<td align="right"><span class="cred1">*</span> 邮政编码：</td>
								<td><input type="text" class="input1 input3" /></td>
						</tr>
						<tr>
								<td align="right"><span class="cred1">*</span> 手机：</td>
								<td><input type="text" class="input1" /></td>
						</tr>
						<tr>
								<td align="right">电话：</td>
								<td><input type="text" class="input1" /></td>
						</tr>
						<tr>
								<td></td>
								<td><input type="submit" value="提交"  class="tj_btn"></td>
						</tr>
						
				</table>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="foot mat20">
	<div class="bottom_link">
		<div class="width980">
			<div class="item_bg fl"></div>
			<div class="item_1 fl">
				<h3>用户指南</h3>
				<ul class="mat5">
					<li><a href="#">注册用户</a></li>
					<li><a href="#">会员权利</a></li>
					<li><a href="#">常见问题</a></li>
				</ul>
			</div>
			<div class="item_bg fl"></div>
			<div class="item_1 fl">
				<h3>关于购买</h3>
				<ul class="mat5">
					<li><a href="#">购买流程</a></li>
					<li><a href="#">支付方式</a></li>
					<li><a href="#">支付帮助</a></li>
				</ul>
			</div>
			<div class="item_bg fl"></div>
			<div class="item_1 fl">
				<h3>关于配送</h3>
				<ul class="mat5">
					<li><a href="#">配送方式</a></li>
					<li><a href="#">配送问题</a></li>
				</ul>
			</div>
			<div class="item_bg fl"></div>
			<div class="item_1 fl">
				<h3>售后服务</h3>
				<ul class="mat5">
					<li><a href="#">服务承诺</a></li>
					<li><a href="#">售后保证</a></li>
					<li><a href="#">退换货流程</a></li>
				</ul>
			</div>
			<div class="item_bg fl"></div>
			<div class="item_1 fl">
				<h3>关于我们</h3>
				<ul class="mat5">
					<li><a href="#">公司简介</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">诚聘英才</a></li>
				</ul>
			</div>
			<div class="item_bg fl"></div>
			<div class="item_1 fl">
				<h3>客服中心</h3>
				<ul class="mat5">
					<li><a href="#">在线客服</a></li>
					<li><a href="#">留言与投诉</a></li>
				</ul>
			</div>
			<div class="item_bg fl"></div>
			<div class="item_1 fl"><img src="images/jianhao.gif" /></div>
			<div class="item_bg fl"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="width980">
	<div class="copy">Copyright © 2011-2012 ymall.com, All rights reserved 京ICP备09064614号　友情链接</div>
	<div class="flink">友情链接：<a href="#">乐酷天网上商城</a><a href="#">乐酷天网上商城</a><a href="#">乐酷天网上商城</a><a href="#">乐酷天网上商城</a><a href="#">乐酷天网上商城</a><a href="#">乐酷天网上商城</a></div>
	
	</div>
</div>
</body>
</html>
