<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<div class="width960" style="background:#fff;">
		<div class="now">{$nowpath}</div>
		<div class="fl proimg"><img src="{pe_thumb($info['product_logo'], 380, 380)}" /></div>
		<div class="fr proinfo">
			<h3>{$info['product_name']}</h3>
			<p class="lh30 mat5">市 场 价： <s class="num c888">¥ {$info['product_mmoney']}</s></p>
			<p class="lh30">商 城 价： <span class="cred1 font20 num strong">¥ {$info['product_smoney']}</span></p>
			<p class="lh30">运　　费： <!--{if($info['product_wlmoney'] == 0):}-->卖家包邮<!--{else:}--><span class="num">¥ {$info['product_wlmoney']}</span><!--{endif;}--></p>
			<p class="lh30">销售情况： 共售出 <span class="cred num strong">{$info['product_sellnum']}</span> 件 <a href="javascript:find_comment();" class="cblue">(已有{$info['product_commentnum']}人评价)</a></p>
			<p class="lh30" style="_margin-top:10px;">消费保障： <img src="{$pe['host_tpl']}images/bz_1.gif" title="7天无条件退换货"> <img src="{$pe['host_tpl']}images/bz_2.gif" title="保证正品，假一赔三"> <img src="{$pe['host_tpl']}images/bz_4.gif" title="7天价格保障"> <img src="{$pe['host_tpl']}images/bz_5.gif" title="专业配送，支持货到付款"></p>
			<div class="buyinfo">
				<div class="shuliang">
					<span class="fl mat2">数量：</span>
					<img src="{$pe['host_tpl']}images/jian.gif" onclick="pe_numchange('product_num', '-', 1)" />
					<input type="text" name="product_num" value="1" readonly />
					<img src="{$pe['host_tpl']}images/jia.gif" onclick="pe_numchange('product_num', '+', {$info['product_num']})" />
					<span class="fl c888 mal5 mat2">（库存 {$info['product_num']}）</span>
				</div>
				<div class="clear"></div>
				<div class="xuxian1 mat8"></div>
				<p class="mat10">
					<!--{if($info['product_state']==2):}-->
					<img src="{$pe['host_tpl']}images/selldown.gif" class="fl" />
					<!--{elseif($info['product_state']==1 && $info['product_num']==0):}-->
					<img src="{$pe['host_tpl']}images/sellout.gif" class="fl" />
					<!--{else:}-->
					<a href="javascript:cart_add('{$info['product_id']}');" class="fl"><img src="{$pe['host_tpl']}images/buy.gif" /></a>
					<!--{endif;}-->
					<a href="javascript:collect_add('{$info['product_id']}');" class="sctj fl">添加到收藏夹</a>
				</p>
				<div class="clear"></div>
			</div>
			<p class="mat15">上架时间：<span class="c666">{pe_date($info['product_atime'])}</span>　　浏览：<span class="c666">{$info['product_clicknum']} 次</span>　　收藏：<span class="c666">{$info['product_collectnum']} 人</span></p>
			<div class="mat15" style="height:25px; overflow:hidden;">
				<!-- Baidu Button BEGIN -->
			    <div id="bdshare" class="bdshare_b" style="line-height:12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg" />
					<a class="shareCount"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=456179" ></script>
				<script type="text/javascript" id="bdshell_js"></script>
				<script type="text/javascript">
					document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
				</script>
				<!-- Baidu Button END -->
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="remai fl">
			<h3>热销排行</h3>
			<ul class="hotlist">
				<!--{foreach((array)$product_hotlist as $v):}-->
				<li>
					<span class="fl hotimg"><img src="{pe_thumb($v['product_logo'], 70, 70)}" title="{$v['product_name']}" /></span>
					<span class="fl hotname mal5">
						<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank">{$v['product_name']}</a>
						<span class="cred num">¥ <strong>{$v['product_smoney']}</strong></span>
					</span>
					<div class="clear"></div>
				</li>
				<!--{endforeach;}-->
			</ul>
		</div>
		<div class="fr xiangqing">
			<div class="caidan">
				<ul class="fl" id="js_menu">
					<li class="sel"><a href="javascript:;">商品展示</a></li>
					<li><a href="javascript:;">售前咨询({$info['product_asknum']})</a></li>
					<li><a href="javascript:;">顾客评价({$info['product_commentnum']})</a></li>
					<li><a href="javascript:;">售后服务</a></li>
				</ul>
				<div class="fr c666 mat5">商品货号：{$info['product_mark']}</div>
			</div>
			<div class="promain js_menuhtml">{$info['product_text']}</div>
			<!--咨询 Start-->
			<div class="propl mat10 js_menuhtml" style="display:none">
				<div class="plmain" id="js_askhtml">
					<!--{foreach($ask_list as $v):}-->
					<ul>
						<li class="fl">会员：andrea</li>
						<li class="fr">咨询日期：{pe_date($v['ask_atime'])}</li>
					</ul>
					<div class="padb10 mal10">
						<div class="mat5">{$v['ask_text']}</div>
						<!--{if($v['ask_replytext']):}-->
						<div class="mat5">
							<span class="fl corg">卖家回复：{$v['ask_replytext']}</span>
							<span class="fr mar10 c888">回复日期：{pe_date($v['ask_replytime'])}</span>
							<div class="clear"></div>
						</div>
						<!--{endif;}-->
					</div>
					<!--{endforeach;}-->
					<div class="xuxian1"></div>
					<div class="zixunbox">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td valign="top">咨询内容：</td>
							<td><textarea name="ask_text" style="width:550px;height:120px;resize:none;"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="button" value="提交" class="tj_btn"></td>
						</tr>
						</table>
					</div>
				</div>
			</div>
			<!--咨询 End-->
			<!--评论 Start-->
			<div class="propl mat10 js_menuhtml" style="display:none">
				<div class="plmain" id="js_commenthtml">
					<!--{foreach($comment_list as $v):}-->
					<ul>
						<li class="fl">会员：andrea</li>
						<li class="fr">评价日期：{pe_date($v['comment_atime'])}</li>
					</ul>
					<div class="pingjia">{$v['comment_text']}</div>
					<!--{endforeach;}-->
					<div class="xuxian1"></div>
					<div class="zixunbox">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td valign="top">评价内容：</td>
							<td><textarea name="comment_text" style="width:550px;height:120px;resize:none;"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="button" value="提交" class="tj_btn"></td>
						</tr>
						</table>
					</div>
				</div>
			</div>
			<!--评论 End-->
			<div class="promain js_menuhtml" style="display:none">{$page['page_text']}</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function find_comment() {
	$("#js_menu").find("li").eq(2).click();
	window.location.href = "#js_menu";
}
$(function(){
//标签切换
$("#js_menu").find("li").click(function(){
	$("#js_menu").find("li").removeClass("sel");
	$(this).addClass("sel");
	$(".js_menuhtml").hide();
	$(".js_menuhtml").eq($("#js_menu").find("li").index($(this))).show();
})
//咨询发表
$("#js_askhtml").find(":button").click(function(){
	if ('{$_s_user_id_key}' == '') {alert('抱歉：只有登录用户才能发表咨询！请先登录...');return;}
	var ask_text = $(":input[name='ask_text']").val();
	if (ask_text == '') {alert('咨询内容必须填写');return;}
	$.getJSON("{$pe['host_root']}index.php", {"mod":"product","act":"askaddsql","product_id":"{$info['product_id']}","ask_text":ask_text},function(json){
		if (json.result) {
			$("#js_askhtml").prepend(json.html);
			$(":input[name='ask_text']").val('');
			alert('咨询提交成功！管理员会尽快答复...');
		}
		else {
			alert('抱歉，咨询提交失败，请重新提交...')			
		}
	})
})
//评价发表
$("#js_commenthtml").find(":button").click(function(){
	if ('{$_s_user_id_key}' == '') {alert('抱歉：只有登录用户才能发表评价！请先登录...');return;}
	var comment_text = $(":input[name='comment_text']").val();
	if (comment_text == '') {alert('评价内容必须填写');return;}
	$.getJSON("{$pe['host_root']}index.php", {"mod":"product","act":"commentaddsql","product_id":"{$info['product_id']}","comment_text":comment_text},function(json){
		if (json.result) {
			$("#js_commenthtml").prepend(json.html);
			$(":input[name='comment_text']").val('');
			alert('感谢您的支持，评价提交成功！');
		}
		else {
			alert('抱歉，评价提交失败，请重新提交...')			
		}
	})
})
})
//加入购物车
function cart_add(id) {
	$.getJSON("{$pe['host_root']}index.php", {"mod":"order","act":"cartaddsql","product_id":id,"product_num":$(":input[name='product_num']").val()},function(json){
		if (json.result) {
			$("#js_commenthtml").prepend(json.html);
			if (confirm('加入购物车成功，是否立即结算？')) {
				window.location.href="{$pe['host_root']}index.php?mod=order&act=cartlist";
			}
		}
		else {
			alert('抱歉，加入购物车失败，请重新加入...')
		}
	})
}
function collect_add(id) {
	if ('{$_s_user_id_key}' == '') {alert('抱歉：只有登录用户才能收藏商品！请先登录...');return;}
	$.getJSON("{$pe['host_root']}index.php", {"mod":"product","act":"collectaddsql","product_id":id},function(json){
		alert(json.show);
	})
}
</script>
<!--{include(pe_tpl('footer.html'));}-->