<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<div class="width960" style="background:#fff;">
		<!--{include(pe_tpl('user_menu.html'));}-->
		<div class="fr huiyuan_main">
			<div class="gouwuche">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="bg1">商品名称</th>
					<th class="bg1" width="80">商品价格</th>
					<th class="bg1" width="120">收藏时间</th>
					<th class="bg1" width="50">操作</th>
				</tr>
				<!--{foreach($info_list as $v):}-->
				<tr>
					<td>
						<div class="hotimg fl mal5 mar5"><img src="{pe_thumb($v['product_logo'])}" /></div>
						<div class="fl mat5 dingdan_name"><a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank" class="cblue">{$v['product_name']}</a></div>
						<div class="clear"></div>
					</td>
					<td class="cred1 num">￥{$v['product_smoney']}</td>
					<td class="c666">{pe_date($v['collect_atime'])}</td>
					<td><a href="index.php?mod=user&act=collectdel&id={$v['collect_id']}&product_id={$v['product_id']}" onclick="return pe_cfone('删除该收藏')">删除</a></td>
				</tr>
				<!--{endforeach;}-->
				</table>
				<div class="hy_pay">
					<div class="fenye">{$db->page->html}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->