body{background:#00496f url(../images/bg1.gif) repeat-x;}
.bgimg{background:url(../images/1.jpg) no-repeat; position:absolute; top:0; left:0; width:395px; height:296px; z-index:-1}
.logo{margin-top:10px; margin-left:10px; display:inline;}
.pagetop{width:960px; margin:0 auto; height:45px; overflow:hidden;}
.head_r{color:#fff; height:30px; margin-top:10px; font-weight:bold; font-size:14px; display:inline;}
.head_r a{color:#fff;}
.content{width:960px; margin:0 auto;}
.main_top{background:url(../images/main_top.png) no-repeat; height:9px; overflow:hidden;}
.main{background:#fff; padding:0 8px; width:944px;_height:600px; min-height:600px;}
.left{width:150px; overflow:hidden; background:#fff;}
.fenlei h3{background:url(../images/libg1.gif) no-repeat; width:138px; height:36px; line-height:36px; color:#fff; padding-left:12px;}
.fenlei li{background:url(../images/libg2.gif) no-repeat; width:120px; height:32px; line-height:32px; padding-left:30px; font-weight:bold;}
.fenlei li a{color:#555;}
.fenlei li a:hover,.fenlei li.sel a{color:#e79b00; text-decoration:underline;}
.right{width:785px; overflow:hidden;}
.now1{background:url(../images/now1.gif) no-repeat; height:36px; float:left; width:9px;}
.now3{background:url(../images/now2.gif) no-repeat; height:36px; float:right; width:9px;}
.now2{background:url(../images/now3.gif) repeat-x; height:36px; float:left; width:762px; font-weight:bold; font-size:14px; padding-left:5px; line-height:36px;}
.tixing{background:#ffffe0; color:#666; line-height:25px; margin-top:8px; padding:0 10px; border:1px #f9dfb2 solid;}
.searbox .input1{width:200px; height:22px; border:1px #8799ad solid; margin-right:5px;}
.input2{padding:0 5px;}
.fabu a{background:url(../images/fabu.gif) no-repeat; width:69px; height:23px; line-height:23px; text-align:center; color:#333; font-size:12px; display:block;}
.fabu a:hover{color:#333}
.list{width:785px; overflow:hidden;}
.list td{padding:5px; border:1px #cecece solid;}
.bgtt{background:#eee}
.bgmain1{background:#f0f7ff;}
.wenzhang{margin:8px 0 0 8px; width:772px}
.wenzhang td{padding:4px 0;}
.inputtext{height:22px; line-height:22px; border:1px #cecece solid; border-top:1px #707070 solid; border-left:1px #707070 solid;}
.inputselect{height:24px; line-height:24px; display:inline;}
.inputtext_30{width:30px;}
.inputtext_50{width:50px;}
.inputtext_100{width:100px;}
.inputtext_200{width:200px;}
.inputtext_300{width:300px;}
.inputtext_400{width:400px;}
.inputtext_500{width:500px;}

.tjbtn{background:url(../images/btn.gif) no-repeat; width:70px; height:30px; text-align:center; line-height:30px; color:#fff; border:0; font-size:14px; font-weight:bold; cursor:pointer;}

/*管理操作按钮*/
a.admin_edit{display:block; float:left; width:35px; height:20px; text-align:center;background:#72be21; color:#333;}
a:hover.admin_edit{display:block; float:left; width:35px; height:20px; text-align:center;background:#a5d872; color:#fff;}
a.admin_del{display:block; float:left; width:35px; height:20px; text-align:center;background:#ff6600; color:#fff;}
a:hover.admin_del{display:block; float:left; width:35px; height:20px; text-align:center;background:#ff944c; color:#333;}
a.proname{color:#0500fc}
a:hover.proname{color:#0500fc}

.mat3{margin-top:3px;}
.spqh{border:1px #ddd solid; background:#fdfdfd; height:30px; overflow:hidden; padding:0 5px;}
.qiehuan{padding-top:5px;}
.qiehuan a{padding:5px; color:#2277ae;}
.qiehuan a:hover{color:#2277ae;}
.qiehuan a.sel{background:#5d9ac6; color:#fff;}