<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<span class="fl c888">管理中心 > {$menutitle}</span>
		<span class="fr fabu"><a href="admin.php?mod=admin&act=add">增加管理</a></span>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<form method="post">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
		<tr>
			<td class="bg_f8" align="right" width="110">管理帐号：</td>
			<td><input type="text" name="info[admin_name]" value="{$info['admin_name']}" class="inputall input200" /></td>
		</tr>
		<tr>
			<td class="bg_f8" align="right">管理密码：</td>
			<td><input type="password" name="admin_pw" class="inputall input200" autocomplete="off" /> <span class="c888">如无需修改请留空</span></td>
		</tr>
		<tr>
			<td class="bg_f8" align="right">上次登录：</td>
			<td>{pe_date($info['admin_ltime'])}</td>
		</tr>
		<tr>
			<td class="bg_f8">&nbsp;</td>
			<td><input type="submit" name="pesubmit" value="提 交" class="tjbtn" /></td>
		</tr>
		</table>
		</form>
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->