<!--{include(pe_tpl('header.html'));}-->
<div class="right fr">
	<div class="now">
		<div class="fl now1"></div>
		<div class="fl now2">修改管理信息</div>
		<div class="fl now3"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="{$action}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td width="70">管 理 ID：</td>
		<td>{$info['admin_id']}</td>
	</tr>
	<tr>
		<td>管理帐号：</td>
		<td><input type="text" name="info[admin_name]" value="{$info['admin_name']}" class="inputtext inputtext_200" /></td>
	</tr>
	<tr>
		<td>管理密码：</td>
		<td><input type="password" name="admin_pw" class="inputtext inputtext_200" /> 留空默认为不修改</td>
	</tr>
	<tr>
		<td>上次登录：</td>
		<td>{pe_date($info['admin_ltime'])}</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="提 交" class="tjbtn" /></td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->