<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="javascript:;" class="sel">{$menutitle}</a>
		<div class="clear"></div>
	</div>
	<form method="post">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat15">
	<tr>
		<td align="right" width="150">商品信息：</td>
		<td>
			<a href="{pe_url('product-'.$info['product_id'])}" target="_blank" class="fl" style="border:1px solid #f2f2f2"><img src="{pe_thumb($info['product_logo'], 40, 40)}" width="40" height="40"></a>
			<a href="{pe_url('product-'.$info['product_id'])}" target="_blank" class="fl mat10 mal10 cblue">{$info['product_name']}</a>
		</td>
	</tr>
	<tr>
		<td align="right">咨询日期：</td>
		<td>{pe_date($info['ask_atime'])}</td>
	</tr>
	<tr>
		<td align="right">咨询用户：</td>
		<td><a href="http://www.ip138.com/ips.asp?ip={$info['user_ip']}" target="_blank">{$info['user_name']}</a></td>
	</tr>
	<tr>
		<td align="right">咨询内容：</td>
		<td>{$info['ask_text']}</td>
	</tr>
	<tr>
		<td align="right">回复内容：</td>
		<td><textarea name="info[ask_replytext]" style="width:550px;height:150px">{$info['ask_replytext']}</textarea></td>
	</tr>
	<!--{if($info['ask_state']):}-->
	<tr>
		<td align="right">回复日期：</td>
		<td>{pe_date($info['ask_replytime'])}</td>
	</tr>
	<!--{endif;}-->
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type="hidden" name="pe_token" value="{$pe_token}" />
			<input type="submit" name="pesubmit" value="提 交" class="tjbtn" />
		</td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->