<!--{include(pe_tpl('header.html'));}-->
<div class="right fr">
	<div class="now">
		<div class="fl now1"></div>
		<div class="fl now2">回复咨询</div>
		<div class="fl now3"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="{$action}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td width="70">商品名称：</td>
		<td><a href="{pe_url('product-'.$info['product_id'])}" target="_blank" class="cblue">{$info['product_name']}</a></td>
	</tr>
	<tr>
		<td>咨询时间：</td>
		<td>{pe_date($info['ask_atime'])}</td>
	</tr>
	<tr>
		<td>用 户 名：</td>
		<td>{$info['user_name']} [<a href="http://www.ip138.com/ips.asp?ip={$info['user_ip']}" target="_blank">{$info['user_ip']}</a>]</td>
	</tr>
	<tr>
		<td>咨询内容：</td>
		<td class="cred">{$info['ask_text']}</td>
	</tr>
	<tr>
		<td>回复内容：</td>
		<td><textarea name="info[ask_replytext]" style="width:450px;height:160px">{$info['ask_replytext']}</textarea></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="提 交" class="tjbtn" /></td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->