<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="admin.php?mod=db" class="sel">数据库备份</a>
		<div class="clear"></div>
	</div>
	<form method="post">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20">
	<tr>
		<td align="right" width="100">是否分卷：</td>
		<td>
			<label><input type="radio" name="backup_cut" value="0" checked="checked" /> 不分卷</label>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="backup_cut" value="1" /> 分卷
			<input type="text" name="backup_cutsize" class="inputtext input50" /> KB/卷
			<input type="hidden" name="act" value="backup" />
			<input type="hidden" name="backup_where" value="server" />
			<input type="hidden" name="pe_token" value="{$pe_token}" />
			<input type="submit" name="pesubmit" value="备 份" class="tjbtn mal10" />
		</td>
	</tr>
	<!--<tr>
		<td align="right" width="150">是否分卷：</td>
		<td>
			<label><input type="radio" name="backup_cut" value="0" checked="checked" /> 不分卷</label>&nbsp;&nbsp;&nbsp;&nbsp;
			<label><input type="radio" name="backup_cut" value="1" /> 分卷备份
			<input type="text" name="backup_cutsize" class="inputtext input50" /> KB/卷</label>
		</td>
	</tr>
	<tr>
		<td align="right">备份位置：</td>
		<td>
			<label><input type="radio" name="backup_where" value="server" checked="checked" /> 服务器</label>&nbsp;&nbsp;&nbsp;&nbsp;
			<label><input type="radio" name="backup_where" value="down" /> 本地下载</label>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" name="pebackup" value="备 份" class="tjbtn"></td>
	</tr>-->
	</table>
	</form>
	<div class="now mat30">
		<a href="admin.php?mod=db" class="sel">数据库恢复</a>
		<div class="clear"></div>
	</div>
	<form method="post" enctype="multipart/form-data">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
	<!--{foreach($backup_list as $v):}-->
	<!--{$db_name = str_ireplace('@', '', $v)}-->
	<tr>
		<td width="20"></td>
		<td class="aleft">{$v}</td>
		<td class="num "width="150">{round(pe_dirsize($pe['path_root'].'data/dbbackup/'.$v)/1024/1024, 2)} MB</td>
		<td width="200" class="aleft num">{pe_date(strtotime($db_name), 'Y年m月d日 H时i分')}</td>
		<td width="100">
			<a href="admin.php?mod=db&act=import&dbname={$v}&token={$pe_token}" class="admin_edit mar5">恢复</a>
			<a href="admin.php?mod=db&act=del&dbname={$v}&token={$pe_token}" class="admin_del" onclick="return pe_cfone(this, '删除')">删除</a>
		</td>
	</tr>
	<!--{endforeach;}-->
	</table>
	</form>
</div>
<script type="text/javascript">
$(function(){
	$(":input[name='backup_cutsize']").click(function(){
		$(":input[name='backup_cut']").eq(1).attr("checked", "checked");
	})
})
</script>
<!--{include(pe_tpl('footer.html'));}-->