<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div style="font-size:16px;" class="admin_t_info">
		<h3>购买商业版</h3>
		<a href="http://www.phpshe.com" target="_blank"><img src="{$pe['host_tpl']}images/free.jpg" /></a>
		<h3 style="margin-top:20px;border-top:1px solid #B1CAE8">联系我们</h3>	
		<div style="line-height:35px; margin-top:10px; padding:10px 20px 30px; font-size:16px;font-family:'微软雅黑','宋体',Arial, Helvetica, sans-serif;">
		灵宝简好网络科技有限公司<br />
		公司官网：<a href="http://www.phpshe.com" target="_blank" class="cblue">http://www.phpshe.com</a><br />
		E-mail：admin@phpshe.com<br />
		咨询热线：0398-2366998　　手机：15839823500<br />
		<div>
			<span class="fl">售前咨询：</span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=76265959&amp;site={$pe['host_root']}&amp;menu=yes" target="_blank" class="fl mat6"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:76265959:41"></a>
			<span class="fl" style="margin-left:60px">售后服务：</span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=56618321&amp;site={$pe['host_root']}&amp;menu=yes" target="_blank" class="fl mat6"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:56618321:41"></a>
			<div class="clear"></div>
		</div>
		付款方式：支付宝、银行转帐
		</div> 
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->