<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="javascript:;" class="sel">购买商业版</a>
		<div class="clear"></div>
	</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td style="padding:10px 0 10px 35px"><a href="http://www.phpshe.com/phpshe" target="_blank"><img src="{$pe['host_tpl']}images/free.jpg" /></a></td>
	</tr>
	</table>
	<div class="now">
		<a href="javascript:;" class="sel">联系我们</a>
		<div class="clear"></div>
	</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td style="border-top:0; padding:0">
			<div style="line-height:35px; margin-top:10px; padding:10px 35px 20px; font-size:14px;font-family:'微软雅黑','宋体',Arial, Helvetica, sans-serif;">
			<strong>灵宝简好网络科技有限公司</strong><br />
			公司官网：<a href="http://www.phpshe.com" target="_blank" class="cblue">http://www.phpshe.com</a><br />
			E-mail：admin@phpshe.com<br />
			咨询热线：15839823500<br />
			<div>
				<span class="fl">售前咨询：</span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=76265959&amp;site={$pe['host_root']}&amp;menu=yes" target="_blank" class="fl mat6"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:76265959:41"></a>
				<span class="fl" style="margin-left:60px">售后服务：</span><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=56618321&amp;site={$pe['host_root']}&amp;menu=yes" target="_blank" class="fl mat6"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:56618321:41"></a>
				<div class="clear"></div>
			</div>
			付款方式：支付宝、银行转帐
		</td>
	</tr>
	</table>
</div>
<!--{include(pe_tpl('footer.html'));}-->