<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="admin.php?mod=order" <!--{if(!$_g_state):}-->class="sel"<!--{endif;}-->>全部订单（{intval($tongji['all'])}）</a>
		<a href="admin.php?mod=order&state=wpay" <!--{if($_g_state=='wpay'):}-->class="sel"<!--{endif;}-->>等待付款（{intval($tongji['wpay'])}）</a>
		<a href="admin.php?mod=order&state=wsend" <!--{if($_g_state=='wsend'):}-->class="sel"<!--{endif;}-->>等待发货（{intval($tongji['wsend'])}）</a>
		<a href="admin.php?mod=order&state=wget" <!--{if($_g_state=='wget'):}-->class="sel"<!--{endif;}-->>已发货（{intval($tongji['wget'])}）</a>
		<a href="admin.php?mod=order&state=success" <!--{if($_g_state=='success'):}-->class="sel"<!--{endif;}-->>交易完成（{intval($tongji['success'])}）</a>
		<a href="admin.php?mod=order&state=close" <!--{if($_g_state=='close'):}-->class="sel"<!--{endif;}-->>交易关闭（{intval($tongji['close'])}）</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<div class="search">
			<form method="get">
				<input type="hidden" name="mod" value="{$_g_mod}" />
				<input type="hidden" name="state" value="{$_g_state}" />
				订单编号：<input type="text" name="id" value="{$_g_id}" class="inputtext input100 mar5" />
				姓名：<input type="text" name="user_tname" value="{$_g_user_tname}" class="inputtext input80 mar5" />
				电话：<input type="text" name="user_phone" value="{$_g_user_phone}" class="inputtext input80 mar5" />
				帐号：<input type="text" name="user_name" value="{$_g_user_name}" class="inputtext input80 mar5" />
				下单时间：<input type="text" name="date1" value="{$_g_date1}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate inputtext" style="width:90px;height:20px;" />	
				至 <input type="text" name="date2" value="{$_g_date2}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate inputtext" style="width:90px;height:20px;" />			
				<input type="submit" value="搜索" class="input_btn" />
			</form>
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<tr>
			<th class="bgtt" style="border-bottom:0;">商品详情</th>
			<th class="bgtt" style="border-bottom:0;" width="111">实付款(元)</th>
			<th class="bgtt" style="border-bottom:0;" width="251">收货信息</th>
			<th class="bgtt" style="border-bottom:0;" width="81">支付/发货</th>
			<th class="bgtt" style="border-bottom:0;" width="86">状态</th>
			<th class="bgtt" style="border-bottom:0;" width="86">操作</th>
		</tr>
		</table>
		<!--{foreach($info_list as $k=>$v):}-->
		<!--{$sel = in_array($v['order_state'], array('success', 'close')) ? 'hy_ordertw' : 'hy_ordertt'}-->
		<div class="hy_ordertw c666 mat10">
			订单编号：<span class="num" style="margin-right:60px">{$v['order_id']}</span>
			下单时间：<span class="num">{pe_date($v['order_atime'])}</span>
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_orderlist">
		<tr>
			<td class="aleft" style="border-left:0;padding-left:10px;padding-right:15px">
				<!--{foreach($v['product_list'] as $kk => $vv):}-->
				<div class="dingdan_list" <!--{if($kk==0):}-->style="padding-top:0"<!--{endif;}-->>
					<a href="{pe_url('product-'.$vv['product_id'])}" class="fl mar5" target="_blank"><img src="{pe_thumb($vv['product_logo'], 100, 100)}" width="40" height="40" class="imgbg" /></a>
					<div class="fl">
						<a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank" class="cblue dd_name">{pe_cut($vv['product_name'], 22, '...')}</a>
						<!--{if($vv['prorule_name']):}-->
						<p class="c999 mat5"><!--{foreach(unserialize($vv['prorule_name']) as $vvv):}-->[{$vvv['name']}：{$vvv['value']}]&nbsp;&nbsp;<!--{endforeach;}--></p>
						<!--{endif;}-->
					</div>
					<span class="fr"><span class="num">{$vv['product_money']}</span>(×{$vv['product_num']})</span>
					<div class="clear"></div>
				</div>
				<!--{endforeach;}-->
			</td>
			<td width="110">
				<p class="corg num strong">{$v['order_money']}</p>
				<p class="c999">（含运费：{$v['order_wl_money']}）</p>
				<p class="c999">{$cache_payway[$v['order_payway']]['payway_name']}</p>
			</td>
			<td width="250" class="aleft" valign="top" style="color:#555">
				<p>【姓名】{$v['user_tname']} <span class="c888">({$v['user_phone']})</span></p>
				<p>【地址】{$v['user_address']}</p>
				<p>【留言】<span class="c888">{$v['order_text']}</span></p>
			</td>
			<td width="80">
				<img src="{$pe['host_tpl']}images/fu_{$v['order_pstate']}.png" title="{pe_date($v['order_ptime'])}" />
				<img src="{$pe['host_tpl']}images/fa_{$v['order_sstate']}.png" title="{pe_date($v['order_stime'])}" />
			</td>
			<td width="85">{order_stateshow($v)}<p class="mat5"><a href="admin.php?mod=order&act=edit&id={$v['order_id']}" target="_blank" class="c999">订单详情</a></p></td>
			<td width="85" style="border-right:0;">
				<!--{if($v['order_state'] == 'wpay'):}-->
				<a class="tag_org" href="admin.php?mod=order&act=pay&id={$v['order_id']}" onclick="return pe_dialog(this, '订单付款', 600, 340, 'order_pay')">立即付款</a>
				<p class="mat5"><a href="admin.php?mod=order&act=close&id={$v['order_id']}" onclick="return pe_dialog(this, '取消订单', 600, 430, 'order_close')" class="c999">取消订单</a></p>
				<!--{elseif($v['order_state'] == 'wsend'):}-->
				<a class="tag_blue" href="admin.php?mod=order&act=send&id={$v['order_id']}" onclick="return pe_dialog(this, '填写发货信息', 600, 430, 'order_send')">发 货</a>
				<p class="mat5"><a href="admin.php?mod=order&act=close&id={$v['order_id']}" onclick="return pe_dialog(this, '取消订单', 600, 430, 'order_close')" class="c999">取消订单</a></p>
				<!--{elseif($v['order_state'] == 'wget'):}-->
				<a class="tag_green" href="admin.php?mod=order&act=success&id={$v['order_id']}&token={$pe_token}" onclick="return pe_cfone(this, '买家已收到商品')">确认收货</a>
				<p class="mat5"><a href="admin.php?mod=order&act=close&id={$v['order_id']}" onclick="return pe_dialog(this, '取消订单', 600, 430, 'order_close')" class="c999">取消订单</a></p>
				<!--{elseif($v['order_state'] == 'close'):}-->
				<a href="admin.php?mod=order&act=del&id={$v['order_id']}&token={$pe_token}" onclick="return pe_cfone(this, '删除订单')" class="c999">删除</a>
				<!--{else:}-->
				-
				<!--{endif;}-->
			</td>
		</tr>
		</table>
		<!--{endforeach;}-->
	</div>
	<div class="right_bottom">
		<span class="fr fenye">{$db->page->html}</span>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/my97/WdatePicker.js"></script>
<!--{include(pe_tpl('footer.html'));}-->