<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="javascript:;" class="sel">{$menutitle}</a>
		<div class="clear"></div>
	</div>
	<div class="huiyuan_main">
		<div class="ddzt" style="position:relative;">订单编号：<span class="num c888">{$info['order_id']}</span>， 当前订单状态：
			<!--{if($order_state=='notpay'):}-->
			<span class="cred mar10">等待买家付款</span>
			<a class="tag_org mar5 font12" style="padding:3px 10px" href="admin.php?mod=order&act=pay&id={$info['order_id']}" onclick="return pe_dialog(this, '订单付款', 550, 300, 'order_pay')">立即付款</a>
			<a class="hy_btn mar5" href="admin.php?mod=order&act=money&id={$info['order_id']}" onclick="return pe_dialog(this, '修改价格', 800, 400, 'order_money')">修改价格/支付方式</a>
			<a class="hy_btn mar5" href="admin.php?mod=order&act=address&id={$info['order_id']}" onclick="return pe_dialog(this, '修改收货信息', 550, 350, 'order_address')">修改收货信息</a>
			<a class="hy_btn mar5" href="admin.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '关闭订单', 550, 390, 'order_close')">关闭订单</a>
			<!--{elseif($order_state=='paid'):}-->
			<span class="cred mar10">等待发货</span>
			<a class="tag_blue mar5 font12" style="padding:3px 10px" href="admin.php?mod=order&act=send&id={$info['order_id']}" onclick="return pe_dialog(this, '填写发货信息', 550, 390, 'order_send')">发 货</a>
			<!--{if($info['order_payway']=='cod'):}-->
			<a class="hy_btn mar5" href="admin.php?mod=order&act=money&id={$info['order_id']}" onclick="return pe_dialog(this, '修改价格', 800, 400, 'order_money')">修改价格/支付方式</a>
			<!--{endif;}-->
			<a class="hy_btn mar5" href="admin.php?mod=order&act=address&id={$info['order_id']}" onclick="return pe_dialog(this, '修改收货信息', 550, 350, 'order_address')">修改收货信息</a>
			<a class="hy_btn mar5" href="admin.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '关闭订单', 550, 390, 'order_close')">关闭订单</a>
			<!--{elseif($order_state=='send'):}-->
			<span class="cred mar10">卖家已发货</span>
			<a class="tag_green mar5 font12" style="padding:3px 10px" href="admin.php?mod=order&act=success&id={$info['order_id']}&token={$pe_token}" onclick="return pe_cfone(this, '收货')">确认收货</a>
			<a class="hy_btn mar5" href="admin.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '关闭订单', 550, 390, 'order_close')">关闭订单</a>
			<!--{elseif($order_state=='success'):}-->
			<img src="{$pe['host_tpl']}images/dui_big.png" style="position:absolute;width:35px;top:30px;" />
			<span class="cgreen" style="margin-left:45px">交易成功</span>
			<!--{elseif($order_state=='close'):}-->
			<span class="c999">交易关闭</span>
			<span class="cred font13">（原因：{$info['order_closetext']}）</span>
			<!--{endif;}-->
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_tablett">
		<tr>
			<td class="bgtt" width="">商品详情</td>
			<td class="bgtt" width="80">单价(元)</td>
			<td class="bgtt" width="50">数量</td>
			<td class="bgtt" width="150">商品优惠</td>
			<td class="bgtt" width="150">实付款(元)</td>			
		</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<!--{foreach($product_list as $k=>$v):}-->
		<tr>
			<td style="text-align:left;" nosel="1">
				<div class="dingdan_list" style="padding-top:0;padding-left:15px">
					<a href="{pe_url('product-'.$v['product_id'])}" class="fl mar5"><img src="{pe_thumb($v['product_logo'], 40, 40)}" width="40" height="40" class="imgbg" /></a>
					<div class="fl font12">
						<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank" class="cblue dd_name">{$v['product_name']}</a>
						<!--{if($v['prorule_name']):}-->
						<p class="c888 mat5"><!--{foreach(unserialize($v['prorule_name']) as $vv):}-->[{$vv['name']}：{$vv['value']}]&nbsp;&nbsp;<!--{endforeach;}--></p>
						<!--{endif;}-->
						</div>
					<div class="clear"></div>
				</div>
			</td>
			<td width="82" nosel="1"><span class="num">{round($v['product_money'], 1)}</span></td>
			<td width="52" nosel="1"><span class="num">{$v['product_num']}</span></td>
			<td width="152" nosel="1"><!--{if(order_money_yh($v['product_money_yh'])):}-->卖家优惠{order_money_yh($v['product_money_yh'])}元<!--{else:}-->-<!--{endif;}--></td>
			<!--{if($k==0):}-->
			<td width="152" nosel="1" rowspan="{count($product_list)}" style="border-left:1px solid #eee;">
				<span class="strong num font14 corg">{round($info['order_money'], 1)}</span>
				<p class="c888 mat2">{$ini['payway'][$info['order_payway']]}</p>
			</td>
			<!--{endif;}-->
		</tr>
		<!--{endforeach;}-->
		</table>
		<div class="dingdan_heji">
			<span class="fl">交易获得：<span class="cgreen num">{$info['order_point_get']}</span> 积分</span>
			<div class="fr">
				<span class="mar20">商品总金额：<span class="cred num">{round($info['order_product_money'], 1)}</span></span>
				<span class="mar20">运费：<span class="cred num">{round($info['order_wl_money'], 1)}</span></span>
				<span class="mar20">使用优惠券：<a class="cred num" href="javascript:;" title="{$info['order_quan_name']}">-{round($info['order_quan_money'], 1)}</a></span>
				<span class="mar15">使用积分：<a class="cred num" href="javascript:;" title="使用{$info['order_point_use']}积分">-{round($info['order_point_money'], 1)}</a></span>
			</div>
			<div class="clear"></div>
		</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_tablett mat15">
		<tr>
			<td class="bgtt" width="370">订单信息</td>
			<td class="bgtt" width="400">收货信息</td>
			<td class="bgtt" colspan="2"></td>		
		</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
		<tr>
			<td width="100" class="bgtt c888 aright" style="border-top:0;border-left:0;">下单时间</td>
			<td width="250" style="border-top:0;background:#fff">{pe_date($info['order_atime'])}</td>
			<td width="100" class="bgtt c888 aright" style="border-top:0">用户帐号</td>
			<td style="border-top:0;border-right:0;background:#fff"><!--{if($info['user_id']):}--><span class="cblue">{$info['user_name']} (ID：{$info['user_id']})</span><!--{else:}--><span class="c999">未登录用户<!--{endif;}--></td>
		</tr>
		<tr>
			<td class="bgtt c888 aright">付款时间</td>
			<td style="background:#fff"><!--{if($info['order_ptime']):}-->{pe_date($info['order_ptime'])}<!--{else:}--><span class="cred">未付款</span><!--{endif;}--></td>
			<td class="bgtt c888 aright">收货姓名</td>
			<td style="background:#fff;border-right:0;">{$info['user_tname']}</td>
		</tr>
		<tr>
			<td class="bgtt c888 aright">发货时间</td>
			<td style="background:#fff"><!--{if($info['order_stime']):}-->{pe_date($info['order_stime'])}<!--{else:}--><span class="cred">未发货</span><!--{endif;}--></td>	
			<td class="bgtt c888 aright">联系电话</td>
			<td style="background:#fff;border-right:0;">{$info['user_phone']}</td>
		</tr>
		<tr>
			<td class="bgtt c888 aright">完成时间</td>
			<td style="background:#fff"><!--{if($info['order_ftime']):}-->{pe_date($info['order_ftime'])}<!--{else:}--><span class="cred">未确认</span><!--{endif;}--></td>
			<td class="bgtt c888 aright">收货地址</td>
			<td style="background:#fff;border-right:0;">{$info['user_address']}</td>		
		</tr>
		<tr>
			<td class="bgtt c888 aright">物流信息</td>
			<td style="background:#fff"><!--{if($info['order_wl_name']):}--><a href="{pe_url('order-kuaidi', 'id='.$info['order_wl_id'])}" target="_blank" class="tag_green">{$info['order_wl_name']}：{$info['order_wl_id']}</a><!--{else:}-->无<!--{endif;}--></td>
			<td class="bgtt c888 aright">买家留言</td>
			<td style="background:#fff;border-right:0;">{$info['order_text']}</td>
		</tr>		
		</table>
	</div>
</div>
<script charset="utf-8" src="{$pe['host_root']}include/plugin/artdialog/jquery.artDialog.js?skin=chrome"></script>
<script charset="utf-8" src="{$pe['host_root']}include/plugin/artdialog/plugins/iframeTools.js"></script>
<!--{include(pe_tpl('footer.html'));}-->