<!--{include(pe_tpl('header.html'));}-->
<div class="right fr">
	<div class="now">
		<div class="fl now1"></div>
		<div class="fl now2">
			<span class="fl">单页列表</span>
			<span class="fr fabu mat8"><a href="admin.php?mod=page&act=add">增加单页</a></span>
		</div>
		<div class="fl now3"></div>
		<div class="clear"></div>
	</div>
	<form method="post" id="form">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list mat5">
	<tr>
		<td class="bgtt" align="center" width="10"><input type="checkbox" name="checkall" onclick="pe_checkall(this, 'page_id')" /></td>
		<td class="bgtt" align="center" width="40">ID号</td>
		<td class="bgtt" align="center">单页名称</td>
		<td class="bgtt" align="center" width="70">操作</td>
	</tr>
	<!--{foreach($info_list as $v):}-->
	<tr>
		<td align="center"><input type="checkbox" name="page_id[]" value="{$v['page_id']}"></td>
		<td align="center">{$v['page_id']}</td>
		<td align="center">{$v['page_name']}</td>
		<td align="center">
			<a href="admin.php?mod=page&act=edit&id={$v['page_id']}" class="admin_edit">修改</a>
			<a href="admin.php?mod=page&act=delsql&id={$v['page_id']}" class="admin_del" onclick="return pe_cfone('删除')">删除</a>
		</td>
	</tr>
	<!--{endforeach;}-->
	<tr>
		<td class="bgtt" align="center"><input type="checkbox" name="checkall" onclick="pe_checkall(this, 'page_id')" /></td>
		<td class="bgtt" colspan="6">
			<span class="fl"><button href="admin.php?mod=page&act=delsql" onclick="return pe_cfall(this, 'page_id', 'form', '批量删除')">批量删除</button></span>
			<span class="fenye">{$db->page->html}</span>
		</td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->