<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<!--{include(pe_tpl('setting_menu.html'));}-->
	<form method="post" id="form">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
	<tr>
		<th class="bgtt" width="60">排序</th>
		<th class="bgtt" width="120">图标</th>
		<th class="bgtt" width="130">支付名称</th>
		<th class="bgtt">支付描述</td>
		<th class="bgtt" width="90">启用状态</th>
		<th class="bgtt" width="45">操作</th>
	</tr>
	<!--{foreach($info_list as $v):}-->
	<tr>
		<td><input type="text" name="payway_order[{$v['payway_id']}]" value="{$v['payway_order']}" class="inputtext input40" /></td>
		<td><img src="{$pe['host_root']}include/plugin/payway/{$v['payway_mark']}/logo.gif" style="height:60px" /></td>
		<td>{$v['payway_name']}</td>
		<td class="aleft">{$v['payway_text']}</td>
		<td>
			<!--{if($v['payway_state']==1):}-->
			<a href="admin.php?mod=payway&act=state&state=0&id={$v['payway_id']}&token={$pe_token}"><img src="{$pe['host_tpl']}images/dui.png" /></a>
			<!--{else:}-->
			<a href="admin.php?mod=payway&act=state&state=1&id={$v['payway_id']}&token={$pe_token}"><img src="{$pe['host_tpl']}images/cuo.png" /></a>
			<!--{endif;}-->
		</td>
		<td><a href="admin.php?mod=payway&act=edit&id={$v['payway_id']}" class="admin_edit">修改</a></td>
	</tr>
	<!--{endforeach;}-->
	<tr>
		<td class="bgtt aleft" colspan="6">
			<span class="fl"><button href="admin.php?mod=payway&act=order&token={$pe_token}" onclick="pe_doall(this,'form')">更新排序</button></span>
			<span class="fenye">{$db->page->html}</span>
		</td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->