<!--{include(pe_tpl('header.html'));}-->
<div class="right">
	<div class="now">
		<a href="admin.php?mod=payway" class="sel">{$menutitle}（{$tongji['all']}）</a>
		<div class="clear"></div>
	</div>
	<div class="right_main">
		<form method="post" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
		<tr>
			<th class="bgtt" width="50">ID号</th>
			<th class="bgtt" width="40">排序</th>
			<th class="bgtt" width="150">图标</th>
			<th class="bgtt" width="130">支付名称</th>
			<th class="bgtt">支付描述</td>
			<th class="bgtt" width="90">启用状态</th>
			<th class="bgtt" width="80">操作</th>
		</tr>
		<!--{foreach($info_list as $v):}-->
		<tr>
			<td>{$v['payway_id']}</td>
			<td><input type="text" name="payway_order[{$v['payway_id']}]" value="{$v['payway_order']}" class="inputtext input30 center" /></td>
			<td style="padding:15px 0"><img src="{$pe['host_root']}include/plugin/payway/{$v['payway_mark']}/logo.png" style="height:29px" /></td>
			<td>{$v['payway_name']}</td>
			<td class="aleft">{$v['payway_text']}</td>
			<td>
				<!--{if($v['payway_state']==1):}-->
				<a href="admin.php?mod=payway&act=state&state=0&id={$v['payway_id']}&token={$pe_token}"><img src="{$pe['host_tpl']}images/dui.png" /></a>
				<!--{else:}-->
				<a href="admin.php?mod=payway&act=state&state=1&id={$v['payway_id']}&token={$pe_token}"><img src="{$pe['host_tpl']}images/cuo.png" /></a>
				<!--{endif;}-->
			</td>
			<td><a href="admin.php?mod=payway&act=edit&id={$v['payway_id']}" class="admin_edit mal10">修改</a></td>
		</tr>
		<!--{endforeach;}-->
		</table>
		</form>
	</div>
	<div class="right_bottom">
		<span class="fl mal10">
			<button href="admin.php?mod=payway&act=order&token={$pe_token}" onclick="pe_doall(this,'form')">更新排序</button>
		</span>
		<span class="fr fenye">{$db->page->html}</span>
		<div class="clear"></div>
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->