<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>快速咨询</title>
<link href="{$pe['host_tpl']}css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$pe['host_root']}include/js/jquery.js"></script>
</head>
<body style="background:none">
<form method="post" id="form">
<table style="width:360px;margin:0;" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tr>
	<td align="right" class="bgtt" width="100">当前销量</td>
	<td>{$info['product_sellnum']} 件 （已有{$info['product_commentnum']}人评价）</td>
</tr>
<tr>
	<td align="right" class="bgtt">设置销量</td>
	<td><input type="text" name="product_sellnum" class="inputall input100" /> <span id="product_sellnum_show"></span></td>
</tr>
<tr>
	<td class="bgtt"></td>
	<td>
		<input type="hidden" name="pesubmit" />
		<input type="hidden" name="pe_token" value="{$pe_token}" />
		<input type="button" value="提 交" class="tjbtn" />
	</td>
</tr>
</table>
</form>
<script type="text/javascript" src="{$pe['host_root']}include/plugin/my97/WdatePicker.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/formcheck.js"></script>
<script type="text/javascript">
var form_info = [
	{"name":"product_sellnum", "mod":"num", "act":"blur", "arg":"{$info['product_commentnum']}|", "show_id":"product_sellnum_show","show_error":"销量小于评价数", "must":true}
]
$(":button").pe_submit(form_info, 'form');
</script>
</body>
</html>