<div class="now">
	<a href="admin.php?mod=setting&act=base" <!--{if($mod=='setting' && $act=='base'):}-->class="sel"<!--{endif;}-->>网站设置</a>
	<a href="admin.php?mod=setting&act=email" <!--{if($mod=='setting' && $act=='email'):}-->class="sel"<!--{endif;}-->>邮箱设置</a>
	<a href="admin.php?mod=setting&act=point" <!--{if($mod=='setting' && $act=='point'):}-->class="sel"<!--{endif;}-->>积分设置</a>
	<a href="admin.php?mod=setting&act=kuaidi" <!--{if($mod=='setting' && $act=='kuaidi'):}-->class="sel"<!--{endif;}-->>快递设置</a>
	<a href="admin.php?mod=payway" <!--{if($mod=='payway'):}-->class="sel"<!--{endif;}-->>支付设置</a>
	<div class="clear"></div>
</div>
