<!--{include(pe_tpl('header.html'));}-->
<div class="right fr">
	<div class="now">
		<div class="fl now1"></div>
		<div class="fl now2">基本信息</div>
		<div class="fl now3"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="{$action}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td width="70">网站标题：</td>
		<td><input type="text" name="info[web_title]" value="{$info['web_title']['setting_value']}" class="inputtext inputtext_400" /></td>
	</tr>
	<tr>
		<td>SEO关键词：</td>
		<td><input type="text" name="info[web_keywords]" value="{$info['web_keywords']['setting_value']}" class="inputtext inputtext_400" /></td>
	</tr>
	<tr>
		<td>SEO描述：</td>
		<td><textarea name="info[web_description]" style="width:400px;height:100px">{$info['web_description']['setting_value']}</textarea></td>
	</tr>
	<tr>
		<td>模板名称：</td>
		<td>
			<select name="info[web_tpl]" class="inputselect">
				<!--{foreach($tpl_arr as $v):}-->
				<option value="{$v}" <!--{if($info['web_tpl']['setting_value']==$v):}-->selected="selected"<!--{endif;}-->>{$v}</option>
				<!--{endforeach;}-->
			</select>
		</td>
	</tr>
	<tr>
		<td>版权所有：</td>
		<td><input type="text" name="info[web_copyright]" value="{$info['web_copyright']['setting_value']}" class="inputtext inputtext_200" /></td>
	</tr>
	<tr>
		<td>ICP备案号：</td>
		<td><input type="text" name="info[web_icp]" value="{$info['web_icp']['setting_value']}" class="inputtext inputtext_200" /></td>
	</tr>
	<tr>
		<td>微博地址：</td>
		<td><input type="text" name="info[web_weibo]" value="{$info['web_weibo']['setting_value']}" class="inputtext inputtext_400" /></td>
	</tr>
	<tr>
		<td>统计代码：</td>
		<td><textarea name="info[web_tongji]" style="width:400px;height:150px">{$info['web_tongji']['setting_value']}</textarea></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="提 交" class="tjbtn"></td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->