<!--{include(pe_tpl('header.html'));}-->
<div class="right fr">
	<div class="now">
		<div class="fl now1"></div>
		<div class="fl now2">支付宝接口信息</div>
		<div class="fl now3"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="{$action}">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td width="110">支付宝账户：</td>
		<td><input type="text" name="info[alipay_name]" value="{$info['alipay_name']['setting_value']}" class="inputtext inputtext_200" /></td>
	</tr>
	<tr>
		<td>合作者身份(Pid)：</td>
		<td><input type="text" name="info[alipay_pid]" value="{$info['alipay_pid']['setting_value']}" class="inputtext inputtext_200" /></td>
	</tr>
	<tr>
		<td>安全校验码(Key)：</td>
		<td><input type="text" name="info[alipay_key]" value="{$info['alipay_key']['setting_value']}" class="inputtext inputtext_400" /></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="提 交" class="tjbtn"></td>
	</tr>
	</table>
	</form>
</div>
<!--{include(pe_tpl('footer.html'));}-->