<!--{include(pe_tpl('header.html'));}-->
<div class="right fr">
	<div class="now">
		<div class="fl now1"></div>
		<div class="fl now2">修改订单</div>
		<div class="fl now3"></div>
		<div class="clear"></div>
	</div>
	<form method="post" action="{$action}" enctype="multipart/form-data">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<tr>
		<td width="70">商品名称：</td>
		<td>
			<!--{foreach($product_list as $v):}-->
			<p><a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank" class="cblue">{$v['product_name']}</a> {$v['product_smoney']}(×{$v['product_num']})</p>
			<!--{endforeach;}-->
		</td>
	</tr>
	<tr>
		<td>运　　费：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			<!--{if($info['order_wlmoney'] == 0):}-->卖家包邮<!--{else:}-->{$info['order_wlmoney']}元<!--{endif;}-->
			<!--{else:}-->
			<input type="text" name="info[order_wlmoney]" value="{$info['order_wlmoney']}" class="inputtext inputtext_100" />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>实付金额：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['order_money']}元
			<!--{else:}-->
			<input type="text" name="info[order_money]" value="{$info['order_money']}" class="inputtext inputtext_100" />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>会员帐号：</td>
		<td>{$info['user_name']}（ID：{$info['user_id']}）</td>
	</tr>
	<tr>
		<td>收货姓名：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['user_tname']}
			<!--{else:}-->
			<input type="text" name="info[user_tname]" value="{$info['user_tname']}" class="inputtext inputtext_100" />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>手机号码：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['user_phone']}
			<!--{else:}-->
			<input type="text" name="info[user_phone]" value="{$info['user_phone']}" class="inputtext inputtext_200" />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>固定电话：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['user_phone']}
			<!--{else:}-->
			<input type="text" name="info[user_tel]" value="{$info['user_tel']}" class="inputtext inputtext_200" />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>收货地址：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['user_address']}
			<!--{else:}-->
			<input type="text" name="info[user_address]" value="{$info['user_address']}" class="inputtext inputtext_500" />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>买家留言：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['order_text']}
			<!--{else:}-->
			<textarea name="info[order_text]" style="width:500px;height:150px">{$info['order_text']}</textarea>
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>付款方式：</td>
		<td>
			<!--{if($info['order_state'] == 'notpay'):}-->
				<select name="info[order_paytype]">
				<!--{foreach($ini_paytype as $k => $v):}-->
				<option value="{$k}" <!--{if($k==$info['order_paytype']):}-->selected="selected"<!--{endif;}-->>{$v}</option>
				<!--{endforeach;}-->
			<!--{else:}-->
				{$ini_paytype[$info['order_paytype']]}
			<!--{endif;}-->
			</select>
		</td>
	</tr>
	<tr>
		<td>订单状态：</td>
		<td>
			<p class="cgreen">已下单[{pe_date($info['order_atime'])}]</p>
			<!--{if($info['order_state'] == 'notpay'):}-->
			<p class="cred">等待买家付款[{pe_date($info['order_atime'])}]<button href="admin.php?mod=order&act=state&state=paidsql&id={$info['order_id']}" onclick="return pe_cfone_button(this, '付款')">付款</button></p>
			<!--{elseif($info['order_state'] == 'paid'):}-->
			<p class="cgreen">已付款[{pe_date($info['order_ptime'])}]</p>
			<p class="cred">等待卖家发货<button href="admin.php?mod=order&act=state&state=send&id={$info['order_id']}" onclick="return pe_dialog(this, '填写物流信息', 300, 120)">发货</button></p>
			<!--{elseif($info['order_state'] == 'send'):}-->
			<p class="cgreen">已付款[{pe_date($info['order_ptime'])}]</p>
			<p class="cgreen">已发货[{pe_date($info['order_stime'])}]</p>
			<p class="cred">等待买家确认</p>			
			<!--{elseif($info['order_state'] == 'success'):}-->
			<p class="cgreen">已付款[{pe_date($info['order_ptime'])}]</p>
			<p class="cgreen">已发货[{pe_date($info['order_stime'])}]</p>
			<p class="cgreen">交易成功</p>
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>物流公司：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['order_text']}
			<!--{elseif($info['order_state'] == 'send'):}-->
			<input type="text" name="info[order_wlname]" value="{$info['order_wlname']}" class="inputtext inputtext_200"  />
			<!--{else:}-->
			<input type="text" disabled="disabled" class="inputtext inputtext_200"  />
			<!--{endif;}-->
		</td>
	</tr>
	<tr>
		<td>物流编号：</td>
		<td>
			<!--{if($info['order_state'] == 'success'):}-->
			{$info['order_text']}
			<!--{elseif($info['order_state'] == 'send'):}-->
			<input type="text" name="info[order_wlid]" value="{$info['order_wlid']}" class="inputtext inputtext_200"  />
			<!--{else:}-->
			<input type="text" disabled="disabled" class="inputtext inputtext_200"  />
			<!--{endif;}-->
		</td>
	</tr>
	<!--{if($info['order_state'] != 'success'):}-->
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="提 交" class="tjbtn" /></td>
	</tr>
	<!--{endif;}-->
	</table>
	</form>
</div>
<script charset="utf-8" src="{$phpshe['host_root']}include/plugin/artdialog/jquery.artDialog.js?skin=idialog"></script>
<script charset="utf-8" src="{$phpshe['host_root']}include/plugin/artdialog/plugins/iframeTools.js"></script>
<!--{include(pe_tpl('footer.html'));}-->