<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seo['title']}</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link type="text/css" rel="stylesheet" href="{$pe['host_tpl']}css/style.css" />
<script type="text/javascript" src="{$pe['host_root']}include/js/jquery.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/global.js"></script>
</head>
<body style="background:#fff;padding:5px">
<form method="post" id="form" autocomplete="off">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tr>
	<td class="bgtt aright c888" width="120">用 户 名：</td>
	<td>{$info['user_name']}</td>
</tr>
<tr>
	<td class="bgtt aright c888">收 货 人：</td>
	<td><input type="text" name="info[user_tname]" value="{$info['user_tname']}" class="inputall input200" /> <span id="user_tname_show"></span></td>
</tr>
<tr>
	<td class="bgtt aright c888">手机号码：</td>
	<td><input type="text" name="info[user_phone]" value="{$info['user_phone']}" class="inputall input200" /> <span id="user_phone_show"></span></td>
</tr>
<tr>
	<td class="bgtt aright c888">所在城市：</td>
	<td id="cityselect">
		<select name="info[address_province]" class="js_prov inputselect"></select>
		<select name="info[address_city]" class="js_city inputselect"></select>
		<select name="info[address_area]" class="js_area inputselect"></select>
		<span id="address_province_show"></span>
		<span id="address_city_show"></span>
		<span id="address_area_show"></span>
	</td>
</tr>
<tr>
	<td class="bgtt aright c888">详细地址：</td>
	<td><input type="text" name="info[address_text]" value="{$info['address_text']}" class="inputall input400" /> <span id="address_text_show"></span></td>
</tr>
<tr>
	<td class="bgtt aright c888">添加日期：</td>
	<td class="num">{pe_date($info['address_atime'])}</td>
</tr>
</table>
<div class="acenter mat20">
	<input type="hidden" name="pesubmit" />
	<input type="hidden" name="pe_token" value="{$pe_token}" />
	<input type="button" value="提 交" class="tjbtn" />
</div>
</form>
<script type="text/javascript" src="{$pe['host_root']}include/js/formcheck.js"></script>
<script type="text/javascript" src="{$pe['host_root']}include/js/shengshi.js"></script>
<script type="text/javascript">
$(function(){
	$("#cityselect").shengshi({
	    prov:"{$info['address_province']}",
	    city:"{$info['address_city']}",
	    area:"{$info['address_area']}"
	});
})
var form_info = [
	{"name":"info[address_province]", "mod":"str", "act":"change", "arg":"", "show_id":"address_province_show","show_error":"省份必选"},
	{"name":"info[address_city]", "mod":"str", "act":"change", "arg":"", "show_id":"address_city_show","show_error":"城市必选"},
	{"name":"info[address_area]", "mod":"str", "act":"change", "arg":"", "show_id":"address_area_show","show_error":"区县必选"},
	{"name":"info[address_text]", "mod":"str", "act":"blur", "arg":"", "show_id":"address_text_show","show_error":"必填"},
	{"name":"info[user_tname]", "mod":"str", "act":"blur", "arg":"", "show_id":"user_tname_show","show_error":"必填"},
	{"name":"info[user_phone]", "mod":"match", "act":"blur", "arg":"phone", "show_id":"user_phone_show","show_error":"格式有误"}
]
$(":button").pe_submit(form_info, 'form');
</script>
</body>
</html>