<!--{include(pe_tpl('header.html'));}-->
<!--content Start-->
<div class="width960">
	<div class="loginbox registbox">
		<div class="registtt"></div>
		<form method="post" action="{$action}" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="regist_table">
			<tr>
				<td width="15%" align="right"><span class="cred">*</span> 用 户 名：</td>
				<td width="33%"><input type="text" name="info[user_name]" class="input1" /></td>
				<td width="52%"><span class="czong" id="user_name_show">由6-16位字符组成（可以是字母、汉字、数字、下划线）</span></td>
			</tr>
			<tr>
				<td align="right"><span class="cred">*</span> 密　　码：</td>
				<td><input type="password" name="info[user_pw]" class="input1" /></td>
				<td><span class="czong" id="user_pw_show">密码由6-16个字符组成!</span></td>
			</tr>
			<tr>
				<td align="right"><span class="cred">*</span> 确认密码：</td>
				<td><input type="password" name="user_pw1" class="input1" /></td>
				<td><span class="czong" id="user_pw1_show"></span></td>
			</tr>
			<tr>
				<td align="right"><span class="cred">*</span> 联系邮箱：</td>
				<td><input type="text" name="info[user_email]" class="input1" /></td>
				<td><span class="czong" id="user_email_show">请正确填写您的常用邮箱地址，以方便与您联系</span></td>
			</tr>
		</table>
		<div class="xuxian mat10"></div>
		<input type="button" class="registbtn" value=" " />
		</form>
	</div>
</div>
<script type="text/javascript" src="{$pe['host_root']}include/js/formcheck.js"></script>
<script type="text/javascript">
$(function(){
var reg_checkname = function () {
	return	{'url':"{$pe['host_root']}index.php",
			'data':{'mod':'user','act':'registersql','type':'checkname','user_name':$(":input[name='info[user_name]']").val()}}
}
var form_info = [
	{"name":"info[user_name]", "mod":"str", "act":"blur", "arg":"6|20", "show_id":"user_name_show","show_error":"用户名为6-20位字符", "must":true},
	{"name":"info[user_name]", "mod":"ajax", "act":"blur", "arg":reg_checkname, "show_id":"user_name_show","show_error":"该用户名已被注册", "must":true},
	{"name":"info[user_pw]", "mod":"str", "act":"blur", "arg":"6|12", "show_id":"user_pw_show","show_error":"密码为6-12位字符", "must":true},
	{"name":"user_pw1", "mod":"str", "act":"blur", "arg":"6|12", "show_id":"user_pw1_show","show_error":"确认密码为6-12位字符", "must":true},
	{"name":"user_pw1", "mod":"equal", "act":"blur", "arg":$(":input[name='info[user_pw]']"), "show_id":"user_pw1_show","show_error":"两次密码不一致", "must":true},
	{"name":"info[user_email]", "mod":"match", "act":"blur", "arg":"email", "show_id":"user_email_show","show_error":"邮箱格式错误", "must":true}
]
$(":button").pe_submit(form_info, 'form');
})
</script>
<!--content End--> 
<!--{include(pe_tpl('footer.html'));}-->