<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<div class="width960" style="background:#fff;">
		<!--{include(pe_tpl('user_menu.html'));}-->
		<div class="fr huiyuan_main">
			<div class="gouwuche">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="bg1">咨询详情</th>
					<th class="bg1" width="200">商品名称</th>
				</tr>
				<!--{foreach($info_list as $v):}-->
				<tr>
					<td style="text-align:left">
						<p>咨询[{pe_date($v['ask_atime'])}]：{$v['ask_text']}</p>
						<p><span class="corg"><!--{if($v['ask_replytext']):}-->回复[{pe_date($v['ask_replytime'])}]：{$v['ask_replytext']}<!--{else:}-->回复：暂无<!--{endif;}--></span></p>
					</td>
					<td style="text-align:left"><a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="cblue">{$v['product_name']}</a></td>
				</tr>
				<!--{endforeach;}-->
				</table>
				<div class="hy_pay">
					<div class="fenye">{$db->page->html}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->