<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<div class="width960" style="background:#fff;">
		<!--{include(pe_tpl('user_menu.html'));}-->
		<div class="fr huiyuan_main">
			<div class="gouwuche">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th class="bg1" width="50">订单号</th>
					<th class="bg1">商品名称</th>
					<th class="bg1" width="80">单价(×数量)</th>
					<th class="bg1" width="100">实付(元)</th>
					<th class="bg1" width="150">订单状态</th>
					<th class="bg1" width="70">操作</th>
				</tr>
				<!--{foreach($info_list as $v):}-->
				<tr>
					<td>{$v['order_id']}</td>
					<td style="text-align:left">
						<!--{foreach($v['product_list'] as $vv):}-->
						<p><a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank" class="cblue">{$vv['product_name']}</a></p>
						<!--{endforeach;}-->
					</td>
					<td>
						<!--{foreach($v['product_list'] as $vv):}-->
						<p>{$vv['product_smoney']}(×{$vv['product_num']})</p>
						<!--{endforeach;}-->
					</td>
					<td class=" num">
						<p class="strong">{$v['order_money']}</p>
						<p class="c666"><!--{if($v['order_wlmoney'] == 0):}-->(卖家包邮)<!--{else:}-->(含{$v['order_wlmoney']}元邮费)<!--{endif;}--></p>
					</td>
					<td>
						<p class="cgreen">已下单[{pe_date($v['order_atime'])}]</p>
						<!--{if($v['order_state'] == 'notpay'):}-->
						<p class="cred">等待买家付款<button onclick="window.open('index.php?mod=order&act=pay&id={$v['order_id']}')">付款</button></p>
						<!--{elseif($v['order_state'] == 'paid'):}-->
						<p class="cgreen">已付款[{pe_date($v['order_ptime'])}]</p>
						<p class="cred">等待卖家发货</p>
						<!--{elseif($v['order_state'] == 'send'):}-->
						<p class="cgreen">已付款[{pe_date($v['order_ptime'])}]</p>
						<p class="cgreen">已发货[{pe_date($v['order_stime'])}]</p>
						<p class="cred">等待买家确认<button onclick="window.open('https://lab.alipay.com/consume/queryTradeDetail.htm?tradeNo={$v['order_outid']}')">确认</button></p>
						<!--{elseif($v['order_state'] == 'success'):}-->
						<p class="cgreen">已付款[{pe_date($v['order_ptime'])}]</p>
						<p class="cgreen">已发货[{pe_date($v['order_stime'])}]</p>
						<p class="cgreen">交易成功</p>
						<!--{endif;}-->
						# {$ini_paytype[$v['order_paytype']]} #
					</td>
					<td>
						<a href="index.php?mod=user&act=ordersh&id={$v['order_id']}" onclick="return pe_dialog(this, '订单收货信息', 400, 300)">收货信息</a>
						<!--{if($v['order_state'] == 'notpay'):}-->
						<p><a href="index.php?mod=user&act=orderdelsql&id={$v['order_id']}" onclick="return pe_cfone('取消订单')" class="cred">取消订单</a></p>
						<!--{endif;}-->
					</td>
				</tr>
				<!--{endforeach;}-->
				</table>
				<div class="hy_pay">
					<div class="fenye">{$db->page->html}</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script charset="utf-8" src="{$phpshe['host_root']}include/plugin/artdialog/jquery.artDialog.js?skin=chrome"></script>
<script charset="utf-8" src="{$phpshe['host_root']}include/plugin/artdialog/plugins/iframeTools.js"></script>
<!--{include(pe_tpl('footer.html'));}-->