<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<div class="fr action_list">
		<div class="action_tt"><h3>{$cache_class[1]['class_name']}</h3></div>
		<ul>
			<!--{foreach($notice_list as $k=>$v):}-->
			<li <!--{if($k>=7):}-->style="border-bottom:0"<!--{endif;}-->><a href="{pe_url('article-'.$v['article_id'])}" title="{$v['article_name']}" target="_blank">{$v['article_name']}</a></li>
			<!--{endforeach;}-->
		</ul>
	</div>
	<div class="jdt fr">
		<div id="jdtslide" style="visibility:hidden;">
		<!--{if(is_array($cache_ad['index_jdt'])):}-->
		<!--{foreach($cache_ad['index_jdt'] as $v):}-->
		<a href="{$v['ad_url']}"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['ad_logo'])}" alt="" width="700" height="300" class="js_imgload" /></a>
		<!--{endforeach;}-->
		<!--{endif;}-->
		</div>
	</div>
	<div class="clear"></div>
	<div class="pro_tuijian mat10">
		<div class="index_tuijian">
			<h3>本店推荐</h3>
		</div>
		<div class="tuijian_list">
			<!--{foreach($product_tuijian as $k=>$v):}-->
			<div class="prolist_1" <!--{if(($k+1)%5==0):}-->style="margin-right:0"<!--{endif}-->>
				<p class="prolist_img"><a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['product_logo'], 220, 220)}" title="{$v['product_name']}" width="220" height="220" class="js_imgload" /></a></p>
				<!--{if($v['product_hd_tag']):}--><div class="{huodong_tag($v['product_hd_tag'])}">{$v['product_hd_tag']}</div><!--{endif;}-->
				<div style="padding:10px 10px 0">
					<p><span class="money1 fl"><span class="num mar3">¥</span>{$v['product_money']}</span> <s class="num c888 fr">¥ {$v['product_mmoney']}</s></p>
					<div class="clear"></div>
					<p class="prolist_name"><a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank">{$v['product_name']}</a></p>
				</div>
			</div>
			<!--{endforeach;}-->
			<div class="clear"></div>
		</div>
	</div>
	<!--分类1 Start-->
	<!--{foreach((array)$category_indexlist as $k=>$v):}-->
	<div class="pro_tuijian mat10">
		<div class="index_fenlei_tt1">
			<h3 class="fl"><span>{$k+1}F</span>　{$v['category_name']}</h3>
			<span class="fr"><a href="{pe_url('product-list-'.$v['category_id'])}" title="{$v['category_name']}" target="_blank">更多>></a></span>
			<!--{if(is_array($cache_category_arr[$v['category_id']])):}-->
			<!--{foreach($cache_category_arr[$v['category_id']] as $kk=>$vv):}-->
			<span class="fr mal10 mar10">|</span>
			<span class="fr"><a href="{pe_url('product-list-'.$kk)}" title="{$vv['category_name']}" target="_blank">{$vv['category_name']}</a></span>
			<!--{endforeach;}-->
			<!--{endif;}-->
			<div class="clear"></div>
		</div>
		<div class="tuijian_list">
			<!--{foreach($v['product_newlist'] as $kk=>$vv):}-->
			<div class="prolist_1" <!--{if(($kk+1)%5==0):}-->style="margin-right:0"<!--{endif;}-->>
				<p class="prolist_img"><a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($vv['product_logo'], 220, 220)}" title="{$vv['product_name']}" width="220" height="220" class="js_imgload" /></a></p>
				<!--{if($vv['product_hd_tag']):}--><div class="{huodong_tag($vv['product_hd_tag'])}">{$vv['product_hd_tag']}</div><!--{endif;}-->
				<div style="padding:10px 10px 0">
					<p class="mat5"><span class="money1 fl"><span class="num mar3">¥</span>{$vv['product_money']}</span> <s class="num c888 fr">¥ {$vv['product_mmoney']}</s></p>
					<div class="clear"></div>
					<p class="prolist_name"><a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank">{$vv['product_name']}</a></p>
				</div>
			</div>
			<!--{endforeach;}-->
			<div class="clear"></div>
		</div>
	</div>
	<!--{endforeach;}-->
	<!--分类1 End-->
</div>
<script type="text/javascript" src="{$pe['host_root']}include/js/jquery.slide.js"></script>
<script type="text/javascript">
$(function(){
	$("#jdtslide").KinSlideshow({
		moveStyle:"left",
		intervalTime:5,
		mouseEvent:"mouseover",
		titleBar:{"titleBar_bgColor":""},
		titleFont:{TitleFont_size:14,TitleFont_color:"#ffffff"}
	});
})
</script>
<!--{include(pe_tpl('footer.html'));}-->