<!--{include(pe_tpl('header.html'));}-->
<div class="content" style="padding-top:5px">
	<div class="jdt_banner">
		<ul class="banList">
			<!--{$index_jdt = 1;}-->
			<!--{foreach($cache_ad['index_jdt'] as $k=>$v):}-->
			<li <!--{if($index_jdt++==1):}-->class="active1"<!--{endif;}-->><a href="{$v['ad_url']}" target="_blank"><img src="{pe_thumb($v['ad_logo'])}"/></a></li>
			<!--{endforeach;}-->
		</ul>
		<div style="position:relative; width:725px; margin:0 auto; z-index:100">
		<div class="fomW">
			<div class="jsNav">
				<!--{$index_jdt = 1;}-->
				<!--{foreach($cache_ad['index_jdt'] as $v):}-->
				<a href="javascript:;" class="trigger <!--{if($index_jdt++==1):}-->current<!--{endif;}-->"></a>
				<!--{endforeach;}-->
			</div>
		</div>
		</div>
	</div>
	<div class="fr action_list">
		<div class="action_tt">
			<h3 class="fl">{$cache_class[1]['class_name']}</h3>
			<a class="fr" href="{pe_url('article-list-1')}">更多 ></a>
			<div class="clear"></div>
		</div>
		<ul>
			<!--{foreach($notice_list as $k=>$v):}-->
			<li <!--{if($k>=7):}-->style="border-bottom:0"<!--{endif;}-->><a href="{pe_url('article-'.$v['article_id'])}" title="{$v['article_name']}" target="_blank">{$v['article_name']}</a>{pe_date($v['article_atime'], 'm-d')}</li>
			<!--{endforeach;}-->
		</ul>
	</div>
	<div class="clear"></div>
	<!--商品推荐 Start-->
	<div class="i_tj_tt1">新品推荐　<span class="font14 num">NEW PRODUCTS</span></div>
	<div class="i_tjsp_r">
		<!--{foreach($product_newlist as $k=>$v):}-->
		<div class="i_prolist_1" <!--{if(($k+1)%5==0):}-->style="padding-right:0; border-right:0"<!--{endif}-->>
			<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank">
			<p class="i_prolist_img"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['product_logo'], 400, 400)}" title="{$v['product_name']}" width="195" height="195" class="js_imgload" /></p>
			<!--{if($v['product_hd_tag']):}--><div class="{huodong_tag($v['product_hd_tag'])}">{$v['product_hd_tag']}</div><!--{endif;}-->
			<div style="padding:5px 0 0">
				<p class="prolist_name">{$v['product_name']}</p>
				<p class="mat8"><span class="money1 fl"><span class="num mar3">¥</span>{product_money($v['product_money'])}</span> <span class="c999 fr font12">已售{$v['product_sellnum']}件</span></p>	
				<div class="clear"></div>
			</div>
			</a>
		</div>
		<!--{endforeach;}-->
		<div class="clear"></div>
	</div>
	<!--商品推荐 End-->
	<!--分类1 Start-->
	<!--{foreach($category_indexlist as $k=>$v):}-->
	<div class="prolist_html mat20">
		<div class="prolist_tt">
			<div class="fl"><h3>{$v['category_name']}</h3></div>
			<a href="{pe_url('product-list-'.$v['category_id'])}" title="{$v['category_name']}" target="_blank" class="fr mat10 c999">更多 ></a>
			<!--{if(is_array($cache_category_arr[$v['category_id']])):}-->
			<div class="prolist_ttfl">
				热门分类：
				<span style="overflow:hidden; height:16px;">
				<!--{foreach($cache_category_arr[$v['category_id']] as $kk=>$vv):}-->
				<a href="{pe_url('product-list-'.$kk)}" title="{$vv['category_name']}" target="_blank">{$vv['category_name']}</a>
				<span class="mal10 mar10 xian"></span>
				<!--{endforeach;}-->
				</span>
			</div>
			<!--{endif;}-->
			<div class="clear"></div>
		</div>
		<!--{foreach($v['product_list'] as $kk=>$vv):}-->
		<div class="prolist" <!--{if(($kk+1)%4==0):}-->style="margin-right:0"<!--{endif;}-->>
			<a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank">
			<p class="prolist_img"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($vv['product_logo'], 400, 400)}" title="{$vv['product_name']}" width="250" height="250" class="js_imgload" /></p>
			<!--{if($vv['product_hd_tag']):}--><div class="{huodong_tag($vv['product_hd_tag'])}">{$vv['product_hd_tag']}</div><!--{endif;}-->
			<p class="prolist_name">{$vv['product_name']}</p>
			<p class="mat20"><span class="money1 fl"><span class="num font18 mar3">¥</span>{product_money($vv['product_money'])}</span> <span class="c999 fr font12">已售{$vv['product_sellnum']}件</span></p>
			<div class="clear"></div>
			</a>
		</div>
		<!--{endforeach;}-->
		<div class="clear"></div>
	</div>
	<!--{endforeach;}-->
	<!--分类1 End-->
	<div class="yl_list">
		<div class="yl_tt"><span>友情链接</span></div>
		<div class="yl_name">
			<!--{foreach($cache_link as $v):}-->
			<a href="{$v['link_url']}" target="_blank" title="{$v['link_name']}">{$v['link_name']}</a>
			<!--{endforeach;}-->
		</div>
	</div>
</div>
<script type="text/javascript" src="{$pe['host_tpl']}js/jquery.banner.js"></script>
<script type="text/javascript">
$(function(){
	$(".jdt_banner").swBanner();
})
</script>
<!--{include(pe_tpl('footer.html'));}-->