<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<form method="post" id="form" target="_blank">
	<div class="order_cg">
		<i class="tjcg_dui"></i>
		<!--{if($info['order_payway'] == 'cod'):}-->
		<div class="tjcg_tt">订单已提交，我们会尽快安排发货！</div>
		<!--{else:}-->
		<div class="tjcg_tt">订单已提交，请尽快付款！</div>		
		<!--{endif;}-->
		<!--<div class="mat8 c888">（请您在48小时内完成支付，否则订单会被自动取消）</div>-->
		<div class="mat30">订单编号：<span class="c888 mal5">{$info['order_id']}</span></div>
		<div class="mat10">支付方式：<span class="c888 mal5">{$cache_payway[$info['order_payway']]['payway_name']}</span>
			<!--{if($info['order_state'] == 'wpay'):}-->
			<a href="javascript:payway_show();" class="cblue mal10">[更改支付]</a>
			<!--{endif;}-->
		</div>
		<div class="mat10">收货信息：<span class="c888 mal5">{$info['user_tname']}，{$info['user_phone']}，{$info['user_address']}</span></div>
		<div class="dd_yingfu">应付金额：<span>{$info['order_money']}</span> 元</div>
	</div>
	<div class="fkfs" id="payway_html" style="margin-top:20px; padding-bottom:70px; padding-left:50px; display:none">
		<div class="fkfs_tt">请选择支付方式</div>
		<ul>
			<!--{foreach($payway_list as $k=>$v):}-->
			<!--{if($v['payway_mark'] == 'cod')continue}-->
			<li class="js_radio" val="{$k}">
				<img src="{$pe['host_root']}include/plugin/payway/{$k}/logo.png" class="fl" />
				<!--{if($v['payway_mark'] == 'balance'):}-->
				<span class="fr corg mat5">（余额：{$user['user_money']}元）</span>
				<!--{endif;}-->
				<div class="clear"></div><i></i>
			</li>
			<!--{endforeach;}-->
		</ul>
		<div class="clear"></div>	
	</div>
	<!--{if($info['order_state'] == 'wpay'):}-->
	<input type="hidden" name="order_payway" value="" />
	<input type="hidden" name="pe_token" value="{$pe_token}" />
	<input type="hidden" name="pesubmit" />
	<input type="button" value="去付款" class="ddtj_btn" onclick="order_pay()" style="float:none; margin:50px 0 50px 530px;" />
	<!--{endif;}-->	
	</form>
</div>
<script type="text/javascript">
$(function(){
	pe_select_radio('order_payway', "{$info['order_payway']}");
})
function order_pay() {
	if ($(":input[name='order_payway']").val() == 'bank') {
		layer.open({
			type: 2,
			title: '转账汇款说明',
			area: ['550px', '350px'],
			fixed: false, //不固定
			shadeClose: true,
			shade: 0.5,
			content: "{$pe['host_root']}include/plugin/payway/bank/order_pay.php"
		});		
	}
	else {
		$("#form").submit();
	}
}
function payway_show() {
	$("#payway_html").show();
}
</script>
<style type="text/css">
body{background:#f5f5f5;}
</style>
<!--{include(pe_tpl('footer.html'));}-->