<!--{include(pe_tpl('header.html'));}-->
<style type="text/css">
body{background:#f8f8f8;}
</style>
<div class="content">
	<div class="now">{$nowpath}</div>
	<!--{include(pe_tpl('product_left.html'));}-->
	<div class="fr xiangqing">		
		<div class="list_sx">
			<!--{if(count($brand_list)):}-->
			<div class="pinpai_fl">
				<span class="list_sx_l">品牌：</span>
				<div class="list_sx_r">
				<a href="{pe_updateurl('brand', '')}" title="全部" <!--{if(!$_g_brand):}-->class="sel"<!--{endif;}-->>全部</a>
				<!--{foreach($brand_list as $v):}-->
				<a href="{pe_updateurl('brand', $v['brand_id'])}" title="{$v['brand_name']}" <!--{if($_g_brand==$v['brand_id']):}-->class="sel"<!--{endif;}-->>{$v['brand_name']}</a>
				<!--{endforeach;}-->
				</div>
				<div class="clear"></div>
			</div>
			<div class="xuxian mat10 mab10"></div>
			<!--{endif;}-->
			<div class="caidan">
				<span class="list_sx_l">排序：</span>
				<div class="list_sx_r">
				<ul>
					<li class="prolist_px"><a href="{pe_updateurl('orderby', '')}" <!--{if(!$_g_orderby):}-->class="sel"<!--{endif;}-->>综合排序</a></li>
					<li class="prolist_px"><a href="{pe_updateurl('orderby', 'sellnum_desc')}" <!--{if($_g_orderby=='sellnum_desc'):}-->class="sel"<!--{endif;}-->>销量</a></li>
					<li class="prolist_px">
						<!--{if($_g_orderby=='money_asc'):}-->
						<a href="{pe_updateurl('orderby', 'money_desc')}" class="sel">价格<i class="i4"></i></a>
						<!--{elseif($_g_orderby=='money_desc'):}-->
						<a href="{pe_updateurl('orderby', 'money_asc')}" class="sel">价格<i class="i1"></i></a>
						<!--{else:}-->
						<a href="{pe_updateurl('orderby', 'money_desc')}"><span class="fl">价格</span></a>
						<!--{endif;}-->
					</li>
					<li class="prolist_px"><a href="{pe_updateurl('orderby', 'commentnum_desc')}" <!--{if($_g_orderby=='commentnum_desc'):}-->class="sel"<!--{endif;}-->>评价数</a></li>
					<li class="prolist_px"><a href="{pe_updateurl('orderby', 'clicknum_desc')}" <!--{if($_g_orderby=='clicknum_desc'):}-->class="sel"<!--{endif;}-->>人气</a></li>
				</ul>
				</div>
				<!--<span class="fr mat8 mar10 c888">已找到 <strong>{$db->page->listnums}</strong> 个商品</span>-->
				<div class="clear"></div>
			</div>
		</div>
		<div class="tuijian_list">
			<!--{foreach($info_list as $kk=>$vv):}-->
			<div class="prolist_1 prolist_2" <!--{if(($kk+1)%4==0):}-->style="margin-right:0"<!--{endif;}-->>
				<a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank">
				<p class="prolist_img"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($vv['product_logo'], 226, 226)}" title="{$vv['product_name']}" width="226" height="226" class="js_imgload" /></p>
				<!--{if($vv['product_hd_tag']):}--><div class="{huodong_tag($vv['product_hd_tag'])}">{$vv['product_hd_tag']}</div><!--{endif;}-->
				<div style="padding:10px 10px 0">
					<p class="prolist_name">{$vv['product_name']}</p>
					<p class="mat8"><span class="money1 fl"><span class="num mar3">¥</span>{$vv['product_money']}</span> <s class="num c888 fr">¥ {$vv['product_mmoney']}</s></p>
					<div class="clear"></div>
				</div>
				</a>
			</div>
			<!--{endforeach;}-->
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="fenye mat15">{$db->page->html}</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->