<div class="remai fl">
	<!--{if($act == 'list'):}-->
	<div class="hot_border mab10">
		<h3 class="hot_tt"><a href="{pe_url('product-list-'.$category_sid)}" title="{$category_sname}"><span class="tb_jian"></span>{$category_sname}</a></h3>
		<!--{if(is_array($cache_category_arr[$category_sid])):}-->
		<div class="hotlist"  style="border-top:1px solid #ddd;">
			<div style="padding:5px 0">
			<!--{foreach($cache_category_arr[$category_sid] as $k=>$v):}-->
			<div class="zhulei"><a href="{pe_url('product-list-'.$k)}" <!--{if($category_id==$k):}-->class="sel"<!--{endif;}-->>{$v['category_name']}</a></div>
			<!--{endforeach;}-->
			</div>
		</div>
		<!--{endif;}-->
	</div>
	<!--{endif;}-->
	<div class="hot_border">
		<h3 class="hot_tt1">热销排行</h3>
		<ul class="hotlist">
			<!--{foreach($product_hotlist as $v):}-->
			<li>
				<span class="fl hotlogo">
					<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['product_logo'], 100, 100)}" title="{$v['product_name']}" width="60" height="60" class="js_imgload" /></a>
				</span>
				<span class="fl hotname">
					<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank">{$v['product_name']}</a>
					<span class="money3">¥{$v['product_money']}</span>
				</span>
				<div class="clear"></div>
			</li>
			<!--{endforeach;}-->
		</ul>
	</div>
</div>