<!--{include(pe_tpl('header.html'));}-->
<div class="lingquan_box">
	<div class="lingquan">
		<div class="lq_r fl"><i></i></div>
		<div class="fl lq_l num">
			<div>{$info['quan_name']}</div>
			<p>￥ {$info['quan_money']}</p>
			<div class="mat15 c888 font14">使用条件：<!--{if($info['quan_limit']):}-->满{$info['quan_limit']}元使用<!--{else:}-->无<!--{endif;}--></div>
			<div class="mat15 c888 font14">有效日期：{$info['quan_sdate']} 至 {$info['quan_edate']}</div>
			<!--{if($info['quan_type'] == 'online'):}-->	
			<!--{if($info['quan_edate'] < date('Y-m-d')):}-->
			<div class="quan_btn">优惠券已过期</div>
			<!--{elseif($info['quan_num'] - $info['quan_num_get'] <= 0):}-->		
			<div class="quan_btn">领光啦</div>	
			<!--{elseif($quanlog_num):}-->
			<div class="quan_btn">已领取</div>
			<!--{else:}-->
			<div class="quan_btn">
				<form method="post" id="form"><input type="hidden" name="pesubmit" /></form>	
				<a href="javascript:;">点击领取</a>
			</div>	
			<!--{endif;}-->
			<!--{endif;}-->
		</div>
	</div>
</div>
<div class="content" style="min-height:500px; _height:500px;">
	<h3 class="mat10">此优惠券可用于<!--{if($info['product_id']):}-->以下<!--{else:}-->全店<!--{endif;}-->商品</h3>	
	<div class="tuijian_list">
		<!--{foreach($info_list as $kk=>$vv):}-->
		<div class="prolist" <!--{if(($kk+1)%4==0):}-->style="margin-right:0"<!--{endif;}-->>
			<a href="{pe_url('product-'.$vv['product_id'])}" title="{$vv['product_name']}" target="_blank">
			<p class="prolist_img"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($vv['product_logo'], 400, 400)}" title="{$vv['product_name']}" width="250" height="250" class="js_imgload" /></p>
			<!--{if($vv['product_hd_tag']):}--><div class="{huodong_tag($vv['product_hd_tag'])}">{$vv['product_hd_tag']}</div><!--{endif;}-->
			<p class="prolist_name">{$vv['product_name']}</p>
			<p class="mat20"><span class="money1 fl"><span class="num font18 mar3">¥</span>{product_money($vv['product_money'])}</span> <span class="c999 fr font12">已售{$vv['product_sellnum']}件</span></p>
			<div class="clear"></div>
			</a>
		</div>
		<!--{endforeach;}-->
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="fenye mat15">{$db->page->html}</div>
</div>
<script type="text/javascript">
$(function(){
	$(".quan_btn a").click(function(){
		pe_submit("{$pe['host_root']}index.php?mod=quan&act={$info['quan_id']}", function(json){
			if (json.result) {
				$(".quan_btn").text('已领取');
			}
		})
	})
})
</script>
<!--{include(pe_tpl('footer.html'));}-->