<!--{include(pe_tpl('header.html'));}-->
<div class="lingquan_box">
	<div class="lingquan">
		<div class="lq_r fl"><i></i></div>
		<div class="fl lq_l num">
			<div>{$info['quan_name']}</div>
			<p>￥ {$info['quan_money']}</p>
			<div class="mat15 c888 font14">使用条件：<!--{if($info['quan_limit']):}-->满{$info['quan_limit']}元使用<!--{else:}-->无<!--{endif;}--></div>
			<div class="mat15 c888 font14">有效日期：{$info['quan_sdate']} 至 {$info['quan_edate']}</div>			
			<!--{if($info['quan_edate'] < date('Y-m-d')):}-->
			<div class="lq_btn1"><input type="button" value="优惠券已过期" /></div>
			<!--{elseif($info['quan_num'] - $info['quan_num_get'] <= 0):}-->		
			<div class="lq_btn1"><input type="button" value="领光啦" /></div>	
			<!--{elseif($quanlog_num):}-->
			<div class="lq_btn1"><input type="button" value="已领取" /></div>
			<!--{else:}-->
			<form method="post">
			<div class="lq_btn"><input type="submit" name="pesubmit" value="点击领取" /></div>
			</form>		
			<!--{endif;}-->
		</div>
	</div>
</div>
<div class="content" style="min-height:500px; _height:500px;">
	<h3 class="mat10">此优惠券可用于<!--{if($info['product_id']):}-->以下<!--{else:}-->全店<!--{endif;}-->商品</h3>	
	<div class="tuijian_list">
		<!--{foreach($info_list as $k=>$v):}-->
		<div class="prolist_1" <!--{if(($k+1)%5==0):}-->style="margin-right:0"<!--{endif;}-->>
			<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank">
			<p class="prolist_img"><img src="{$pe['host_tpl']}images/pixel.gif" data-url="{pe_thumb($v['product_logo'], 226, 226)}" title="{$v['product_name']}" width="226" height="226" class="js_imgload" /></p>
			<!--{if($v['product_hd_tag']):}--><div class="{huodong_tag($v['product_hd_tag'])}">{$v['product_hd_tag']}</div><!--{endif;}-->
			<div style="padding:10px 10px 0">
				<p class="prolist_name">{$v['product_name']}</p>
				<p class="mat8"><span class="money1 fl"><span class="num mar3">¥</span>{$v['product_money']}</span> <s class="num c888 fr">¥ {$v['product_mmoney']}</s></p>
				<div class="clear"></div>
			</div>
			</a>
		</div>
		<!--{endforeach;}-->
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="fenye mat15">{$db->page->html}</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->