<!--{include(pe_tpl('header.html'));}-->
<div class="content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
		<h3 class="hy_rtt">{$menutitle}</h3>
		<div class="asklist">
			<!--{foreach($info_list as $v):}-->
			<div style="border-bottom:1px #ddd dashed;padding:20px 0 15px">
				<a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="fl mat3" style="border:1px solid #ddd"><img src="{pe_thumb($v['product_logo'], 60, 60)}" width="60" height="60"></a>
				<div class="fl" style="width:695px; margin-left:15px; display:inline;">
					<p><a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="cblue font14">{$v['product_name']}</a></p>
					<p class="corg mat5 font13"><!--{if($v['comment_text']):}-->[{pe_date($v['comment_atime'],'Y-m-d')}]<!--{endif;}-->评价：{$v['comment_text']}</p>
				</div>
				<div class="clear"></div>
			</div>
			<!--{endforeach;}-->
		</div>
		<div class="fenye">{$db->page->html}</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->