<!--{include(pe_tpl('header.html'));}-->
<div class="huiyuan_content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
		<div class="hy_tt"><a href="javascript:;" class="sel">{$menutitle}</a></div>
		<div class="hy_tablelist">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th>咨询内容</th>
				<th width="250">回复内容</th>
				<th colspan="2">商品信息</th>
			</tr>
			<!--{foreach($info_list as $v):}-->
			<tr>
				<td class="aleft" valign="top">{$v['ask_text']}<p class="font12 c999 num mat2">[{pe_date($v['ask_atime'])}]</p></td>
				<td class="aleft" valign="top"><!--{if($v['ask_replytext']):}--><span class="cred">{$v['ask_replytext']}</span><p class="font12 cred num mat2">[{pe_date($v['ask_replytime'])}]</p><!--{endif;}--></td>
				<td width="40"><a href="{pe_url('product-'.$v['product_id'])}" target="_blank"><img src="{pe_thumb($v['product_logo'], 40, 40)}" width="40" height="40" class="imgbg" /></a></td>
				<td class="aleft" width="210" style="padding-left:0"><a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="cblue">{$v['product_name']}</a></td>
			</tr>
			<!--{endforeach;}-->
			</table>
		</div>
		<div class="fenye mat10">{$db->page->html}</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->