<!--{include(pe_tpl('header.html'));}-->
<div class="huiyuan_content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
	<div class="ddzt" style="position:relative">订单编号：<span class="num c888">{$info['order_id']}</span>， 当前订单状态：
		<!--{if($order_state=='notpay'):}-->
		<span class="cred mar10">等待买家付款</span>
		<a class="tag_org mar5 font12" style="padding:3px 10px" href="index.php?mod=order&act=pay&id={$info['order_id']}" target="_blank">立即付款</a>
		<a class="hy_btn mar5" href="user.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '取消订单', 550, 290)">取消订单</a>
		<!--{elseif($order_state=='paid'):}-->
		<span class="cred mar10">等待发货</span>
			<!--{if($info['order_payway']=='cod'):}-->
			<a class="hy_btn mar5" href="user.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '取消订单', 550, 290)">取消订单</a>
			<!--{endif;}-->		
		<!--{elseif($order_state=='send'):}-->
		<span class="cred mar10">卖家已发货</span>
			<!--{if($info['order_payway']=='alipay_db'):}-->
			<a class="tag_green mar5 font12" style="padding:3px 10px" href="https://lab.alipay.com/consume/queryTradeDetail.htm?tradeNo={$info['order_outid']}" onclick="alert('支付宝担保交易，需要您登录支付宝网站确认收货')" target="_blank">确认收货</a>
			<!--{elseif($info['order_payway']!='cod'):}-->
			<a class="tag_green mar5 font12" style="padding:3px 10px" href="user.php?mod=order&act=success&id={$info['order_id']}&token={$pe_token}" onclick="return pe_cfone(this, '要确认收货')">确认收货</a>
			<!--{endif;}-->
		<!--{elseif($order_state=='success'):}-->
		<img src="{$pe['host_tpl']}images/dui_big.png" style="position:absolute;width:35px;top:30px;" />
		<span class="cgreen mar10" style="margin-left:45px">交易成功</span>
			<!--{if(!$info['order_comment']):}--><a class="hy_btn" href="user.php?mod=order&act=comment&id={$info['order_id']}">评价</a><!--{endif;}-->
		<!--{elseif($order_state=='close'):}-->
		<span class="c999">交易关闭</span>
		<span class="cred font13">（原因：{$info['order_closetext']}）</span>
		<!--{endif;}-->
	</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_tablett">
	<tr>
		<td class="bgtt" width="" style="border-top:1px solid #ddd;border-left:1px solid #ddd">商品详情</td>
		<td class="bgtt" width="80" style="border-top:1px solid #ddd;">单价(元)</td>
		<td class="bgtt" width="50" style="border-top:1px solid #ddd;">数量</td>
		<td class="bgtt" width="120" style="border-top:1px solid #ddd;">商品优惠</td>
		<td class="bgtt" width="120" style="border-top:1px solid #ddd;border-right:1px solid #ddd">实付款(元)</td>			
	</tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
	<!--{foreach($product_list as $k=>$v):}-->
	<tr>
		<td style="text-align:left;border-left:1px solid #ddd">
			<div class="dingdan_list" style="padding-top:0;">
				<a href="{pe_url('product-'.$v['product_id'])}" class="fl mar5"><img src="{pe_thumb($v['product_logo'], 40, 40)}" width="40" height="40"></a>
				<div class="fl font12">
					<a href="{pe_url('product-'.$v['product_id'])}" title="{$v['product_name']}" target="_blank" class="cblue dd_name">{$v['product_name']}</a>
					<!--{if($v['prorule_name']):}-->
					<p class="c888 mat5"><!--{foreach(unserialize($v['prorule_name']) as $vv):}-->[{$vv['name']}：{$vv['value']}]&nbsp;&nbsp;<!--{endforeach;}--></p>
					<!--{endif;}-->
					</div>
				<div class="clear"></div>
			</div>
		</td>
		<td width="80"><span class="num">{round($v['product_money'], 1)}</span></td>
		<td width="50"><span class="num">{$v['product_num']}</span></td>
		<td width="120"><!--{if(order_money_yh($v['product_money_yh'])):}-->卖家优惠{order_money_yh($v['product_money_yh'])}元<!--{else:}-->-<!--{endif;}--></td>
		<!--{if($k==0):}-->
		<td width="120" rowspan="{count($product_list)}" style="border-left:1px solid #ddd;border-right:1px solid #ddd;" nosel="1">
			<span class="strong num font14 corg">{round($info['order_money'], 1)}</span>
			<p class="c888 mat2">{$ini['payway'][$info['order_payway']]}</p>
		</td>
		<!--{endif;}-->
	</tr>
	<!--{endforeach;}-->
	</table>
	<div class="dingdan_heji">
		<span class="fl">交易获得：<span class="cgreen num">{$info['order_point_get']}</span> 积分</span>
		<div class="fr">
			<span class="mar20">商品总金额：<span class="cred num">{round($info['order_product_money'], 1)}</span></span>
			<span class="mar20">运费：<span class="cred num">{round($info['order_wl_money'], 1)}</span></span>
			<span class="mar20">使用优惠券：<a class="cred num" href="javascript:;" title="{$info['order_quan_name']}">-{round($info['order_quan_money'], 1)}</a></span>
			<span class="mar5">使用积分：<a class="cred num" href="javascript:;" title="使用{$info['order_point_use']}积分">-{round($info['order_point_money'], 1)}</a></span>
		</div>
		<div class="clear"></div>
	</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_tablett mat10">
	<tr>
		<td class="bgtt" width="350" style="border-left:1px solid #e8e8e8">订单信息</td>
		<td class="bgtt" width="350">收货信息</td>
		<td class="bgtt" colspan="2" style="border-right:1px solid #e8e8e8"></td>		
	</tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
	<tr>
		<td width="100" class="bgtt c888 aright" style="border-top:0;">下单时间</td>
		<td width="230" style="border-top:0;background:#fff">{pe_date($info['order_atime'])}</td>
		<td width="100" class="bgtt c888 aright" style="border-top:0">用户帐号</td>
		<td style="border-top:0;background:#fff"><span class="cblue">{$info['user_name']}</span></td>
	</tr>
	<tr>
		<td class="bgtt c888 aright">付款时间</td>
		<td style="background:#fff"><!--{if($info['order_ptime']):}-->{pe_date($info['order_ptime'])}<!--{else:}--><span class="cred">未付款</span><!--{endif;}--></td>
		<td class="bgtt c888 aright">收货姓名</td>
		<td style="background:#fff;">{$info['user_tname']}</td>
	</tr>
	<tr>
		<td class="bgtt c888 aright">发货时间</td>
		<td style="background:#fff"><!--{if($info['order_stime']):}-->{pe_date($info['order_stime'])}<!--{else:}--><span class="cred">未发货</span><!--{endif;}--></td>
		<td class="bgtt c888 aright">联系电话</td>
		<td style="background:#fff;">{$info['user_phone']}</td>
	</tr>
	<tr>
		<td class="bgtt c888 aright">完成时间</td>
		<td style="background:#fff"><!--{if($info['order_ftime']):}-->{pe_date($info['order_ftime'])}<!--{else:}--><span class="cred">未确认</span><!--{endif;}--></td>	
		<td class="bgtt c888 aright">收货地址</td>
		<td style="background:#fff;">{$info['user_address']}</td>			
	</tr>
	<tr>

		<td class="bgtt c888 aright">物流信息</td>
		<td style="background:#fff"><!--{if($info['order_wl_name']):}--><a href="{pe_url('order-kuaidi', 'id='.$info['order_wl_id'])}" target="_blank" class="tag_green">{$info['order_wl_name']}：{$info['order_wl_id']}</a><!--{else:}-->无<!--{endif;}--></td>
		<td class="bgtt c888 aright">买家留言</td>
		<td style="background:#fff;">{$info['order_text']}</td>
	</tr>		
	</table>
	</div>
</div>
<script charset="utf-8" src="{$pe['host_root']}include/plugin/artdialog/jquery.artDialog.js?skin=chrome"></script>
<script charset="utf-8" src="{$pe['host_root']}include/plugin/artdialog/plugins/iframeTools.js"></script>
<!--{include(pe_tpl('footer.html'));}-->