<!--{include(pe_tpl('header.html'));}-->
<div class="huiyuan_content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
	<div class="order_view_tt mat10">订单状态</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="order_view mat10">
	<tr>
		<td align="right" width="80">订单编号：</td>
		<td>{$info['order_id']}</td>
	</tr>
	<tr>
		<td align="right">当前状态：</td>
		<td>{order_stateshow($info)}
			<!--{if($info['order_state']=='wpay'):}-->
			<a class="tag_org mal20" href="index.php?mod=order&act=pay&id={$info['order_id']}" target="_blank">立即付款</a>
			<a class="tag_gray mal10" href="user.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '取消订单', 550, 350)">取消订单</a>
			<!--{elseif($info['order_state'] == 'wsend'):}-->
			<a class="tag_gray mal20" href="user.php?mod=order&act=close&id={$info['order_id']}" onclick="return pe_dialog(this, '取消订单', 550, 350)">取消订单</a>
			<!--{elseif($info['order_state'] == 'wget' && $info['order_payway'] == 'alipay_db'):}-->
			<a class="tag_green mal20" href="javascript:alert('支付宝担保交易，需要您登录支付宝网站确认收货');">确认收货</a>
			<!--{elseif($info['order_state'] == 'wget' && $info['order_payway'] != 'cod'):}-->
			<a class="tag_green mal20" href="user.php?mod=order&act=success&id={$info['order_id']}&token={$pe_token}" onclick="return pe_cfone(this, '已收到商品')">确认收货</a>
			<!--{elseif($info['order_state'] == 'success' && !$info['order_comment']):}-->
			<a class="tag_gray mal20" href="user.php?mod=order&act=comment&id={$info['order_id']}" onclick="return pe_dialog(this, '发表评价', 800, 510)">发表评价</a>
			<!--{endif;}-->
		</td>
	</tr>
	<!--{if($info['order_state']=='close'):}-->
	<tr>
		<td align="right">关闭说明：</td>
		<td>{$info['order_closetext']}</td>
	</tr>	
	<!--{endif;}-->
	</table>
	<div class="shixian mat20"></div>
	<div class="order_view_tt mat20">收货信息</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="order_view mat10">
	<tr>
		<td align="right" width="80">姓　　名：</td>
		<td>{$info['user_tname']}</td>
	</tr>
	<tr>
		<td align="right">手机号码：</td>
		<td>{$info['user_phone']}</td>
	</tr>
	<tr>
		<td align="right">收货地址：</td>
		<td>{$info['user_address']}</td>			
	</tr>
	<tr>
		<td align="right">订单备注：</td>
		<td>{$info['order_text']}</td>
	</tr>	
	<tr>
		<td align="right">快递信息：</td>
		<td><!--{if($info['order_wl_name']):}--><a href="{pe_url('order-kuaidi', 'id='.$info['order_wl_id'])}" target="_blank" class="tag_kd">{$info['order_wl_name']}：{$info['order_wl_id']}</a><!--{else:}-->--<!--{endif;}--></td>
	</tr>	
	</table>
	<div class="shixian mat20"></div>
	<div class="order_view_tt mat20">订单信息</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="order_view mat10">
	<tr>
		<td align="right" width="80">下单时间：</td>
		<td>{pe_date($info['order_atime'])}</td>
	</tr>
	<tr>
		<td align="right">付款时间：</td>
		<td><!--{if($info['order_ptime']):}-->{pe_date($info['order_ptime'])}<!--{else:}-->--<!--{endif;}--></td>
	</tr>
	<tr>
		<td align="right">发货时间：</td>
		<td><!--{if($info['order_stime']):}-->{pe_date($info['order_stime'])}<!--{else:}-->--<!--{endif;}--></td>
	</tr>	
	<tr>
		<td align="right" width="80">付款方式：</td>
		<td>{$cache_payway[$info['order_payway']]['payway_name']}</td>
	</tr>
	</table>
	<div class="shixian mat20"></div>
	<div class="order_view_tt mat20">商品清单</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="order_view_list mat20">
	<tr>
		<td class="bgtt1" colspan="2">商品名称</td>
		<td class="bgtt1" width="100">单价</td>
		<td class="bgtt1" width="100">数量</td>
		<td class="bgtt1" width="150">商品优惠</td>
		<td class="bgtt1" width="100">小计</td>			
	</tr>
	<!--{foreach($product_list as $k=>$v):}-->
	<tr>
		<td style="border-right:0;width:60px"><a href="{pe_url('product-'.$v['product_id'])}" class="dingdan_img"><img src="{pe_thumb($v['product_logo'], 100, 100)}"></a></td>
		<td style="border-left:0;text-align:left;">
			<a href="{pe_url('product-'.$v['product_id'])}" target="_blank" class="dd_name">{$v['product_name']}</a>
			<!--{if($v['prorule_name']):}-->
			<p class="c888 mat5"><!--{foreach(unserialize($v['prorule_name']) as $vv):}-->[{$vv['name']}：{$vv['value']}]&nbsp;&nbsp;<!--{endforeach;}--></p>
			<!--{endif;}-->
		</td>
		<td><span class="font13">¥{$v['product_money']}</span></td>
		<td><span class="font13">{$v['product_num']}</span></td>
		<td><!--{if(order_money_yh($v['product_money_yh'])):}-->卖家优惠{order_money_yh($v['product_money_yh'])}元<!--{else:}-->-<!--{endif;}--></td>
		<td><span class="font13">¥{$v['product_money']*$v['product_num'] + $v['product_money_yh']}</span></td>
	</tr>
	<!--{endforeach;}-->
	</table>
	<div class="dingdan_jiesuan">
		<!--{if($info['order_point_get']):}-->
		<div class="dingdan_jiesuan_l">可获得积分：<span class="cgreen num1">{$info['order_point_get']}</span> 点</div>
		<!--{endif;}-->
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>商品金额：</td>
			<td width="100">¥ {$info['order_product_money']}</td>
		</tr>
		<tr>
			<td>运费：</td>
			<td>¥ {$info['order_wl_money']}</td>
		</tr>
		<!--{if($info['order_quan_money']):}-->
		<tr>
			<td>使用优惠券：</td>
			<td><a href="javascript:;" title="{$info['order_quan_name']}">- ¥ {$info['order_quan_money']}</a></td>
		</tr>
		<!--{endif;}-->
		<!--{if($info['order_point_use']):}-->
		<tr>
			<td>使用积分：</td>
			<td><a href="javascript:;" title="使用{$info['order_point_use']}积分">- ¥ {$info['order_point_money']}</a></td>
		</tr>
		<!--{endif;}-->
		<tr>
			<td>应付金额：</td>
			<td class="font18 cred strong">¥ {$info['order_money']}</td>
		</tr>
		</table>
		<div class="clear"></div>
	</div>
	</div>
</div>
<!--{include(pe_tpl('footer.html'));}-->