<!--{include(pe_tpl('header.html'));}-->
<div class="huiyuan_content">
	<!--{include(pe_tpl('user_menu.html'));}-->
	<div class="fr huiyuan_main">
		<div class="hy_tt"><a href="javascript:;" class="sel">{$menutitle}<span>({$tongji['all']})</span></a></div>
		<div class="hy_tablelist">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th>优惠券名称</th>
				<th width="90">面值</th>
				<th width="90">使用条件</th>
				<th width="90">限定商品</th>
				<th width="200">有效日期</th>
				<th width="60">状态</td>
			</tr>
			<!--{foreach($info_list as $v):}-->
			<tr>
				<td class="aleft"><a href="{pe_url('quan-'.$v['quan_key'])}" title="{$v['quan_name']}" target="_blank" class="cblue">{$v['quan_name']}</a></td>
				<td><span class="corg">¥{$v['quan_money']}</span></td>
				<td>满{$v['quan_limit']}元</td>
				<td>{$v['product_id']?'部分商品':'无'}</td>
				<td class="num1">{$v['quan_sdate']} 至 {$v['quan_edate']}</td>
				<td>
					<!--{if($v['quanlog_state']==0):}-->
					<span class="tag_green">未使用</span>				
					<!--{elseif($v['quanlog_state']==1):}-->
					<span class="tag_gray">已使用</span>					
					<!--{elseif($v['quanlog_state']==2):}-->
					<s class="tag_gray" style="color:#bbb">已过期</s>
					<!--{endif;}-->
				</td>
			</tr>
			<!--{endforeach;}-->
			</table>
		</div>
		<div class="fenye mat10">{$db->page->html}</div>
	</div>
	<div class="clear"></div>
</div>
<!--{include(pe_tpl('footer.html'));}-->