<div class="huiyuan_left">
	<h3 class="hy_tb2"><s></s>交易管理</h3>
	<ul>
		<li><a href="user.php?mod=order" <!--{if($menumark=='order'):}-->class="sel"<!--{endif;}-->>我的订单</a></li>
		<li><a href="user.php?mod=point" <!--{if($menumark=='point'):}-->class="sel"<!--{endif;}-->>我的积分</a></li>
		<li><a href="user.php?mod=quan" <!--{if($menumark=='quan'):}-->class="sel"<!--{endif;}-->>我的优惠券</a></li>
	</ul>
	<div class="xuxian"></div>
	<h3 class="hy_tb1"><s></s>信息管理</h3>
	<ul>
		<li><a href="user.php?mod=comment" <!--{if($menumark=='comment'):}-->class="sel"<!--{endif;}-->>我的评价</a></li>
		<li><a href="user.php?mod=ask" <!--{if($menumark=='ask'):}-->class="sel"<!--{endif;}-->>我的咨询</a></li>
		<li><a href="user.php?mod=collect" <!--{if($menumark=='collect'):}-->class="sel"<!--{endif;}-->>我的收藏</a></li>
	</ul>
	<div class="xuxian"></div>
	<h3 class="hy_tb3"><s></s>用户设置</h3>
	<ul>
		<li><a href="user.php?mod=setting&act=base" <!--{if($menumark=='setting_base'):}-->class="sel"<!--{endif;}-->>基本资料</a></li>
		<li style="padding-bottom:50px"><a href="user.php?mod=setting&act=pw" <!--{if($menumark=='setting_pw'):}-->class="sel"<!--{endif;}-->>修改密码</a></li>
	</ul>
</div>